@model IList<MangalWeb.Model.Transaction.DocumentUploadViewModel>
@using MangalWeb.Model.Transaction
<div class="modal-content">
    <div class="modal-body" style="height:inherit; overflow:auto;">
        <div class="panel-body panel-no-padding" style="height:inherit; overflow:auto;">
            <div id="demo1">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-hover table-fixed-header m0" id="CustomerDetailsTable">
                    <thead>
                        <tr>
                            <th style="text-align:left;">Customer Id</th>
                            <th style="text-align:left;">Application No</th>
                            <th style="text-align:left;">Loan Account No</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DocumentUploadViewModel item in Model)
                        {
                            <tr class="gradeX" style="cursor:pointer;" onclick='window.document.location="/RequestForm/GetDoumentUploadById?Id=@item.KycId"'>
                                <td id="@item.KycId">@item.CustomerId</td>
                                <td id="@item.TransactionNumber">@item.ApplicationNo</td>
                                <td id="@item.DocDate">@item.LoanAccountNo</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div><!-- /.modal-content -->

