@using System.Collections;
@using MangalWeb.Service.Service;
@using MangalWeb.Model.Entity;
@using MangalWeb.Models.Security;

<header class="navbar navbar-fixed-top bg-danger">
    <div class="navbar-branding">
        <a class="navbar-brand" href="~/Home/Index">
            <div class="logo_text">
                <img src="~/Content/assets/img/mcfllogo.png" />
            </div>
        </a>
        <span id="toggle_sidemenu_l" class="glyphicons glyphicons-show_lines"></span>
        <ul class="nav navbar-nav pull-right hidden">
            <li>
                <a href="#" class="sidebar-menu-toggle">
                    <span class="octicon octicon-ruby fs20 mr10 pull-right "></span>
                </a>
            </li>
        </ul>
    </div>
    <ul class="nav navbar-nav navbar-left">
        <li>
            <span id="toggle_sidemenu_l2" class="glyphicon glyphicon-log-in fa-flip-horizontal hidden"></span>
        </li>
        <li class="dropdown hidden">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="glyphicons glyphicons-settings fs14"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="javascript:void(0);">
                        <span class="fa fa-times-circle-o pr5 text-primary"></span> Reset LocalStorage
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="fa fa-slideshare pr5 text-info"></span> Force Global Logout
                    </a>
                </li>
                <li class="divider mv5"></li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="fa fa-tasks pr5 text-danger"></span> Run Cron Job
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);">
                        <span class="fa fa-wrench pr5 text-warning"></span> Maintenance Mode
                    </a>
                </li>
            </ul>
        </li>
        <li class="hidden-xs">
            <a class="request-fullscreen toggle-active" href="#">
                <span class="octicon octicon-screen-full fs18"></span>
            </a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
                @*<img src="~/Content/assets/img/no-profile-img.gif" alt="avatar" class="mw30 br64 mr15">*@
                @{ 
                    MessageActionService service = new MessageActionService();
                    List<GetMessageAction_Result> messageActionList = service.GetTop5MessageActions(UserInfo.UserID, UserInfo.BranchId);
                }
                <span class="fa fa-bell alert-bell"></span>
                <span class="alertcounter">@messageActionList.Count</span>
                @*<span class="caret caret-tp hidden-xs"></span>*@
            </a>
            <ul class="dropdown-menu dropdown-persist pn w250 bg-white" role="menu">
                @{

                    if (messageActionList.Count > 0)
                    {
                        for (int index = 0; index < messageActionList.Count; index++)
                        {
                            <li class="br-t of-h" style="display:flex;">

                                @if (!messageActionList[index].IsRead ?? false)
                                {
                                    <a href="/MessageAction/MessageActionIndex?isControl=true" class="animated animated-short fadeInDown removenowrap">
                                        <span class="fw700">
                                            @messageActionList[index].Message
                                        </span>
                                    </a><a role="button" href="@messageActionList[index].PageUrl" class="notapproved"><i class="fa fa-check"></i></a>
                                }
                                else
                                {
                                    <a href="/MessageAction/MessageActionIndex?isControl=true" class="animated animated-short fadeInDown removenowrap">
                                        <span>
                                            @messageActionList[index].Message
                                        </span>

                                    </a><a role="button" href="#" class="approved"><i class="fa fa-check"></i></a>
                                }
                            </li>

                        }
                        <li class="seeall">
                            <a href="/MessageAction/MessageActionIndex?isControl=true">See All</a>
                        </li>
                    }
                }
                @*<li class="br-t of-h">
            <a href="@Url.Action("Logout", "Login")" class="animated animated-short fadeInDown">
                <div>
                    Message 1
                </div>
            </a>

        </li>
        <li class="br-t of-h">
            <a href="@Url.Action("Logout", "Login")" class="animated animated-short fadeInDown">
                <div>
                    Message 2
                </div>
            </a>

        </li>*@
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
                @{ 
                    List<GetMessageAction_Result> messageList = service.GeTop5tMessageNotificatins(UserInfo.UserID, UserInfo.BranchId);
                }
                <span class="fa fa-exclamation-triangle notification-bell"></span>
                <span class="alertcounter">@messageList.Count</span>
                @*<span class="caret caret-tp hidden-xs"></span>*@
            </a>
            <ul class="dropdown-menu dropdown-persist pn w250 bg-white" role="menu">
                @{

                    if (messageList.Count > 0)
                    {
                        for (int index = 0; index < messageList.Count; index++)
                        {
                <li class="br-t of-h">
                    @if (!messageList[index].IsRead??false)
                    {
                        <a href="#" class="animated animated-short fadeInDown" onclick="UpdateMessageAction(@messageList[index].MessageActionUserID)">
                            <span class="fw700">
                                @messageList[index].Message
                            </span>
                        </a>
                    }
                    else
                    {
                    <a href="#" class="animated animated-short fadeInDown">
                        <span>
                            @messageList[index].Message
                        </span>
                    </a>
                    }

                </li>
                            }
                   <li class="seeall">
                       <a href="/MessageAction/MessageActionIndex?isControl=false">See All</a>
                   </li>
                        }
                    }
                @*<li class="br-t of-h">
                    <a href="@Url.Action("Logout", "Login")" class="animated animated-short fadeInDown">
                        <i class="fa fa-bell"></i> Logout
                    </a>
                </li>*@
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
                <img src="~/Content/assets/img/no-profile-img.gif" alt="avatar" class="mw30 br64 mr15">
                <span>@Session["UserName"]</span>
                <span class="caret caret-tp hidden-xs"></span>
            </a>
            <ul class="dropdown-menu dropdown-persist pn w250 bg-white" role="menu">
                <li class="br-t of-h">
                    <a href="@Url.Action("Logout", "Login")" class="fw600 p12 animated animated-short fadeInDown">
                        <span class="fa fa-power-off pr5"></span> Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            var url = '@Url.Action("UserAuthorizationForm", "Base")';
            var rowIndex = 1;
            $.ajax({
                url: url,
                data: { MenuId: @Session["MenuId"],UserId:  @Session["UserLoginID"]},
                //data: { MenuId: 1, UserId: 1 },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    if (data != "") {
                        for (var x = 0; x < data.length; x++) {
                            if (data[x].isEdit == false) {
                                $("#btn_edit").attr("style", "display:none;");
                            }
                            if (data[x].isSave == false) {
                                $("#btn_save").attr("style", "display:none;");
                            }
                            if (data[x].isView == false) {
                                $("#btn_view").attr("style", "display:none;");
                            }
                            if (data[x].isDelete == false) {
                                $("#btnDelete").attr("style", "display:none;");
                            }
                        }
                    }
                    else {
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                }
            });
    });
    </script>

</header>

