@model MangalWeb.Model.Transaction.ValuatorOneViewModel
@{
    ViewBag.Title = "ValuatorOneViewModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
@using (Ajax.BeginForm("ValuatorOne", "ValuatorOne", new AjaxOptions { }, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID, new { @id = "ItemID" })
    @Html.HiddenFor(x => x.PreSanctionId)
    @Html.HiddenFor(x => x.ProductId)
    <header id="topbar" class="affix">
        <div class="col-md-5 col-sm-4 col-xs-12">
            <div class="topbar-left">
                <h4>Valuator 1</h4>
            </div><!--end of topbar-left-->
        </div><!--end of col-md-5-->
        <div class="col-md-7 col-sm-8 col-xs-12">
            <div class="topbar-right" id="headerbutton" @TempData["headerbutton"]>
                <button href="#editSanctionModal" id="btn_edit" onclick="return ShowEditTableList();" type="button" class="@TempData["btn_editclass"]" data-toggle="modal"><span class="fa fa-pencil pr5"></span> <span class="hidden-xs">Edit</span></button>
                <button type="submit" id="btn_save" class="@TempData["btn_saveclass"]"><span class="fa fa-save pr5"></span> <span class="hidden-xs">Save</span></button>
                <button type="button" id="btnDelete" class="mb -xs mt-xs mr-xs btn btn-danger"><span class="fa fa-trash pr5"></span> <span class="hidden-xs">Delete</span></button>
                <button href="#editSanctionModal" id="btn_view" onclick="return ShowViewTableList();" class="@TempData["btn_viewclass"]" type="button" data-toggle="modal">
                    <span class="fa fa-eye pr5"></span> <span class="hidden-xs">View</span>
                </button>
                <a href="@Html.Raw(@Url.Action("ValuatorOne", "ValuatorOne"))" type="button" data-toggle="modal" class="btn btn-alert btn-md light fw600 ml10" title="Cancel" alt="Cancel"><span class="fa fa-close pr5"></span><span class="hidden-xs">Cancel</span></a>
            </div><!--end of topbar-right-->
        </div><!--end of col-md-7-->

    </header>
    <!-- Begin: Content -->
    <section id="content" class="animated fadeIn content_height">
        <!-- Dashboard Tiles -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel1 panel-primary">
                    <div class="admin-form">
                        <div class="panel-body">
                            <div class="section row mbn">
                                <div class="form-horizontal">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label">Transaction Id<span class="text-danger"></span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <span class="text-danger" id="CustomErr"> </span>
                                                @Html.EditorFor(model => model.TransactionId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Transaction Id", @readonly = true } })
                                            </div>
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label">Customer Id<span class="text-danger">*</span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                @Html.EditorFor(model => model.CustomerId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer Id", @autofocus = "autofocus", @readonly = true, @style = "display:inline;width:280px;" } })
                                                <div class="input-group-btn" style="display:inline;">
                                                    <button type="button" data-toggle="modal" data-target="#editModal" onclick="ShowClientTableList();" class="btn btn-info btn_info1">...</button>
                                                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label">Application No<span class="text-danger"></span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                @Html.EditorFor(model => model.ApplicationNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Application No", @readonly = true } })
                                            </div>
                                            <label class="col-md-2 control-label" id="lblSerialNumber"> Consolidated Image <span class="text-danger"> * </span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                                <input type="file" id="ConsolidatedImage" />
                                                <div id="ConsolidatedPhoto">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label">Comments<span class="text-danger">*</span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @placeholder = "Comments", @cols = "20", @rows = "2", @style = "resize:none;" })
                                                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <small style="float:right;"><span class="text-danger">* </span>indicates compulsary fields</small>
                                <label><b>Valuation Details :</b></label><br /><br />
                                <hr style="margin-top:0px;" />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label"> Ornament Name <span class="text-danger"> * </span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                                <div class="section">
                                                    @Html.DropDownListFor(m => m.ValuatorOneDetailsVM.OrnamentId, (SelectList)ViewBag.OrnamentList, "--Select Ornament--", htmlAttributes: new { @class = "form-control" })
                                                    <i class="arrow"></i>
                                                </div>
                                            </div>
                                            <label class="col-md-2 control-label" id="lblSerialNumber"> Ornament Image <span class="text-danger"> * </span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                                <input type="file" id="ValuationImage" />
                                                <div id="ImgPhoto"></div>
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="form-group">
                                            <label class="col-md-2 control-label"> Qty <span class="text-danger"> * </span> </label>
                                            <div class="col-lg-2 col-md-2 col-sm-5 col-xs-12">
                                                @Html.EditorFor(model => model.ValuatorOneDetailsVM.Qty, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Qty", @maxlength = "8", @onkeypress = "return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)", @min = "0" } })
                                            </div>
                                            <label class="col-md-2 control-label"> Purity <span class="text-danger"> * </span></label>
                                            <div class="col-lg-2 col-md-2 col-sm-5 col-xs-12">
                                                <div class="section">
                                                    <label class="field select">
                                                        @Html.DropDownListFor(m => m.ValuatorOneDetailsVM.PurityId, (SelectList)ViewBag.PurityList, "--Select Purity--", htmlAttributes: new { @class = "form-control" })
                                                        <span class="text-danger small">@Html.ValidationMessageFor(m => m.ValuatorOneDetailsVM.PurityId)</span>
                                                        <i class="arrow"></i>
                                                    </label>
                                                </div>
                                            </div>
                                            <label class="col-md-2 control-label"> Gross Weight <span class="text-danger"> * </span> </label>
                                            <div class="col-lg-2 col-md-2 col-sm-5 col-xs-12">
                                                @Html.EditorFor(model => model.ValuatorOneDetailsVM.GrossWeight, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Gross Weight", @maxlength = "8", @onkeypress = "return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)" } })
                                            </div>
                                        </div>
                                        <br />
                                        <br />
                                        <div class="form-group">
                                            <label class="col-md-2 control-label"> Deductions <span class="text-danger"></span> </label>
                                            <div class="col-lg-2 col-md-4 col-sm-5 col-xs-12">
                                                @Html.EditorFor(model => model.ValuatorOneDetailsVM.Deductions, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Duductions", @maxlength = "8", @onkeypress = "return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)" } })
                                            </div>
                                            <label class="col-md-2 control-label"> Net Weight <span class="text-danger">  </span> </label>
                                            <div class="col-lg-2 col-md-4 col-sm-5 col-xs-12">
                                                @Html.EditorFor(model => model.ValuatorOneDetailsVM.NetWeight, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Net Weight", @maxlength = "8", @onkeypress = "return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)", @readonly = true } })
                                            </div>
                                            <label class="col-md-2 control-label"> Rate <span class="text-danger"> * </span> </label>
                                            <div class="col-lg-2 col-md-4 col-sm-5 col-xs-12">
                                                @Html.EditorFor(model => model.ValuatorOneDetailsVM.Rate, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Rate", @maxlength = "8", @onkeypress = "return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)" } })
                                            </div>
                                            <label class="col-md-2 control-label"> Total <span class="text-danger">  </span> </label>
                                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                                @Html.EditorFor(model => model.ValuatorOneDetailsVM.Total, new { htmlAttributes = new { @class = "form-control input-sm", @placeholder = "Total", @maxlength = "8", @onkeypress = "return event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)", @readonly = true } })
                                            </div>
                                            <input type="button" value="Add" class="btn btn-sm btn-primary" id="btnAddValuationDetails" />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body panel-no-padding">
                                    <div id="divValuationDetails">
                                        <table cellpadding="0" style="width:100%" cellspacing="0" border="0" class="table table-striped table-bordered table-hover table-fixed-header m0" id="tblValuationDetails">
                                            <thead>
                                                <tr>
                                                    <th class="col-sm-2" style="width:2%">Sr.No.</th>
                                                    <th style="text-align:left">Ornament Name</th>
                                                    <th style="text-align:left">Ornament Image</th>
                                                    <th style="text-align:left">Qty</th>
                                                    <th style="text-align:left">Purity</th>
                                                    <th style="text-align:left">Gross Weight</th>
                                                    <th style="text-align:left">Deductions</th>
                                                    <th style="text-align:left">Net Weight</th>
                                                    <th style="text-align:left">Rate</th>
                                                    <th style="text-align:left">Total</th>
                                                    <th class="text-center" style="width:8%">Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div>
                                    <label id="headerTotalValuation">Total Valuation :</label>
                                    <label id="lblTotalValuation"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@section javascriptsection{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/bootbox.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#divValuationDetails").hide();
            $("#headerTotalValuation").css('display', 'none');

            $("#ValuatorOneDetailsVM_PurityId").attr('disabled', 'disabled');
            $("#ValuatorOneDetailsVM_OrnamentId").attr('disabled', 'disabled');

            $("#ValuatorOneDetailsVM_GrossWeight").on('keyup', function () {
                var GrossWeight = parseFloat($("#ValuatorOneDetailsVM_GrossWeight").val());
                var Deductions = parseFloat($("#ValuatorOneDetailsVM_Deductions").val());
                if (Deductions == "")
                    Deductions = 0;
                if (GrossWeight == "" || typeof (GrossWeight) == 'NaN')
                    GrossWeight = 0;
                $("#ValuatorOneDetailsVM_NetWeight").val(GrossWeight - Deductions);
            });

            $("#ValuatorOneDetailsVM_Deductions").on('keyup', function () {
                var GrossWeight = parseFloat($("#ValuatorOneDetailsVM_GrossWeight").val());
                var Deductions = parseFloat($("#ValuatorOneDetailsVM_Deductions").val());
                $("#ValuatorOneDetailsVM_NetWeight").val(GrossWeight - Deductions);
            });

            $("#ValuatorOneDetailsVM_Rate").on('keyup', function () {
                var NetWeight = parseFloat($("#ValuatorOneDetailsVM_NetWeight").val());
                var Rate = parseFloat($("#ValuatorOneDetailsVM_Rate").val());
                $("#ValuatorOneDetailsVM_Total").val(NetWeight * Rate);
            });
        });
        var sr_no = 0;
        var trid = 0;
        currentRow = null;

        $("#tblValuationDetails TBODY TR").on("click", ".edit", function () {
            debugger;
            var tr = $(this).closest('tr');
            currentRow = $(this).parents('tr');
            debugger;
            sr_no = tr.find('td:eq(0)').html();
            trid = tr.attr('id'); // table row ID
            var OrnamentId = tr.find("td").eq(1).attr('id');
            var Qty = tr.find('td:eq(2)').html();
            var PurityId = tr.find("td").eq(3).attr('id');
            var GrossWeight = tr.find('td:eq(4)').html();
            var Deductions = tr.find('td:eq(5)').html();
            var NetWeight = tr.find('td:eq(6)').html();
            var Rate = tr.find('td:eq(7)').html();
            var Total = tr.find('td:eq(8)').html();

            $("#ValuatorOneDetailsVM_OrnamentId").val(OrnamentId);
            $("#ValuatorOneDetailsVM_Qty").val(Qty);
            $("#ValuatorOneDetailsVM_PurityId").val(PurityId);
            $("#ValuatorOneDetailsVM_GrossWeight").val(GrossWeight);
            $("#ValuatorOneDetailsVM_Deductions").val(Deductions);
            $("#ValuatorOneDetailsVM_NetWeight").val(NetWeight);
            $("#ValuatorOneDetailsVM_Rate").val(Rate);
            $("#ValuatorOneDetailsVM_Total").val(Total);
        })

        $("#tblValuationDetails TBODY TR").on("click", ".delete", function () {
            if (confirm('Are you sure to remove?')) {
                var tr = $(this).closest('tr');
                tr.remove();
                var totamt = 0;
                $('#tblValuationDetails tbody>tr').each(function () {
                    var row = $(this).closest("tr");
                    totamt = totamt + parseFloat(row.find('td:eq(9)').html());
                });
                $("#lblTotalValuation").text(totamt)
            }
        })
        $("#btnAddValuationDetails").click(function () {
            debugger;
            $("#CustomErrr").text("");
            $('[data-toggle="tooltip"]').tooltip();
            var actions = "<a class=\"edit\"><i class=\"fa fa-edit\" title='Edit'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a class=\"delete\"><i class=\"fa fa-trash\" title='Delete'></i></a>"
            var index = $("#tblValuationDetails tbody tr:last").index();
            debugger;
            var srno = 0;
            var newtrno = trid;
            if (sr_no == 0) {
                srno = index + 2;
                newtrno = 0;
            }
            else {
                srno = sr_no;
            }
            sr_no = 0;
            trid = 0;

            var OrnamentId = $("#ValuatorOneDetailsVM_OrnamentId").val();
            var OrnamentName = $("#ValuatorOneDetailsVM_OrnamentId option:selected").text();
            var Qty = $("#ValuatorOneDetailsVM_Qty").val();
            var PurityId = $("#ValuatorOneDetailsVM_PurityId").val();
            var PurityName = $("#ValuatorOneDetailsVM_PurityId option:selected").text();
            var GrossWeight = $("#ValuatorOneDetailsVM_GrossWeight").val();
            var Deductions = $("#ValuatorOneDetailsVM_Deductions").val();
            var NetWeight = $("#ValuatorOneDetailsVM_NetWeight").val();
            var Rate = $("#ValuatorOneDetailsVM_Rate").val();
            var Total = $("#ValuatorOneDetailsVM_Total").val();
            var fileUpload = $("#ValuationImage").get(0);
            var files = fileUpload.files;
            var filename = "";
            if (files.length > 0) {
                filename = files[0].name;
                if (typeof (filename) == 'undefined') {
                    filename = $("#ImgPhoto").find("td:last-child").text()
                }
                else {
                    $("#ImgPhoto").empty();
                }
            }
            else {
                bootbox.alert("This is the default alert!");
            }
            var row = '<tr id=' + newtrno + '>' +
                     '<td width="10%">' + srno + '</td>' +
                     '<td width="20%" id="' + OrnamentId + '">' + OrnamentName + '</td>' +
                     '<td width="10%"><a href="#">' + filename + '</a></td>"' +
                     '<td width="8%">' + Qty + '</td>' +
                     '<td width="20%" id="' + PurityId + '">' + PurityName + '</td>' +
                     '<td width="8%">' + GrossWeight + '</td>' +
                     '<td width="8%">' + Deductions + '</td>' +
                     '<td width="8%">' + NetWeight + '</td>' +
                     '<td width="8%">' + Rate + '</td>' +
                     '<td width="8%">' + Total + '</td>' +
                     '<td id=' + srno + '' + actions + '</td>' +
                     '</tr>';
            debugger;
            var isExist = false;
            $("#tblValuationDetails TBODY tr").each(function () {
                // get row
                debugger;
                var row = $(this);
                // get first and second td
                var first = row.find('td:nth-child(2)').attr('id');
                var second = row.find('td:nth-child(5)').attr('id');
                // if exists, remove the tr
                if (currentRow == null) {
                    if (first == OrnamentId && second == PurityId) {
                        isExist = true;
                    }
                }
            });
            if (isExist) {
                alert("The same record already Exist");
                return false;
            }
            else {
                if (currentRow) {
                    $("#tblValuationDetails tbody").find($(currentRow)).replaceWith(row);
                    var fileUpload = $("#ValuationImage").get(0);
                    var files = fileUpload.files;
                    // Create FormData object
                    fileData = new FormData();
                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append("ValuationImage", files[i]);
                    }
                    fileData.append("ID", newtrno)
                    fileData.append("SRNO", srno)
                    $.ajax({
                        url: '/ValuatorOne/AddValuationImage',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                        },
                        error: function (err) {
                            //alert(err.statusText);
                        }
                    });
                    var totamt = 0;
                    $('#tblValuationDetails tbody>tr').each(function () {
                        var row = $(this).closest("tr");
                        totamt = totamt + parseFloat(row.find('td:eq(9)').html());
                    });
                    $("#lblTotalValuation").text(totamt)
                    $("#ValuatorOneDetailsVM_OrnamentId").val("");
                    $("#ValuatorOneDetailsVM_Qty").val("");
                    $("#ValuatorOneDetailsVM_PurityId").val("");
                    $("#ValuatorOneDetailsVM_GrossWeight").val("");
                    $("#ValuatorOneDetailsVM_Deductions").val("");
                    $("#ValuatorOneDetailsVM_NetWeight").val("");
                    $("#ValuatorOneDetailsVM_Rate").val("");
                    $("#ValuatorOneDetailsVM_Total").val("");
                    currentRow = null;
                }
                else {
                    if (OrnamentId != "" && PurityId != "" && Qty > 0 && GrossWeight > 0 && Rate > 0) {
                        var fileUpload = $("#ValuationImage").get(0);
                        var files = fileUpload.files;
                        // Create FormData object
                        fileData = new FormData();
                        // Looping over all files and add it to FormData object
                        for (var i = 0; i < files.length; i++) {
                            fileData.append("ValuationImage", files[i]);
                        }
                        fileData.append("ID", newtrno)
                        fileData.append("SRNO", srno)
                        $("#tblValuationDetails tbody").append(row);
                        $.ajax({
                            url: '/ValuatorOne/AddValuationImage',
                            type: "POST",
                            contentType: false, // Not to set any content header
                            processData: false, // Not to process data
                            data: fileData,
                            success: function (result) {
                            },
                            error: function (err) {
                                //alert(err.statusText);
                            }
                        });
                        var totamt = 0;
                        $('#tblValuationDetails tbody>tr').each(function () {
                            var row = $(this).closest("tr");
                            totamt = totamt + parseFloat(row.find('td:eq(9)').html());
                        });

                        $("#divValuationDetails").show();
                        $("#headerTotalValuation").css('display', 'block');
                        $("#lblTotalValuation").text(totamt)
                        $("#ValuatorOneDetailsVM_OrnamentId").val("");
                        $("#ValuatorOneDetailsVM_Qty").val("");
                        $("#ValuatorOneDetailsVM_PurityId").val("");
                        $("#ValuatorOneDetailsVM_GrossWeight").val("");
                        $("#ValuatorOneDetailsVM_Deductions").val("");
                        $("#ValuatorOneDetailsVM_NetWeight").val("");
                        $("#ValuatorOneDetailsVM_Rate").val("");
                        $("#ValuatorOneDetailsVM_Total").val("");
                        $("#ValuationImage").val("");
                        $("#ImgPhoto").val("");
                        $("#divValuationDetails").show();
                    }
                }

                $("#tblValuationDetails TBODY TR").on("click", ".edit", function () {
                    var tr = $(this).closest('tr');
                    currentRow = $(this).parents('tr');
                    debugger;
                    sr_no = tr.find('td:eq(0)').html();
                    trid = tr.attr('id'); // table row ID
                    var OrnamentId = tr.find("td").eq(1).attr('id');
                    var imgname = tr.find('td:eq(2)').html();
                    var Qty = tr.find('td:eq(3)').html();
                    var PurityId = tr.find("td").eq(4).attr('id');
                    var GrossWeight = tr.find('td:eq(5)').html();
                    var Deductions = tr.find('td:eq(6)').html();
                    var NetWeight = tr.find('td:eq(7)').html();
                    var Rate = tr.find('td:eq(8)').html();
                    var Total = tr.find('td:eq(9)').html();

                    $("#ImgPhoto").empty();
                    $("#ImgPhoto").append('<td><a href="/ValuatorOne/DownLoadValuationImage/' + trid + '" target=_blank>' + imgname + '</a></td>');

                    $("#ValuatorOneDetailsVM_OrnamentId").val(OrnamentId);
                    $("#ValuatorOneDetailsVM_Qty").val(Qty);
                    $("#ValuatorOneDetailsVM_PurityId").val(PurityId);
                    $("#ValuatorOneDetailsVM_GrossWeight").val(GrossWeight);
                    $("#ValuatorOneDetailsVM_Deductions").val(Deductions);
                    $("#ValuatorOneDetailsVM_NetWeight").val(NetWeight);
                    $("#ValuatorOneDetailsVM_Rate").val(Rate);
                    $("#ValuatorOneDetailsVM_Total").val(Total);
                })

                $("#tblValuationDetails TBODY TR").on("click", ".delete", function () {
                    if (confirm('Are you sure to remove?')) {
                        var tr = $(this).closest('tr');
                        tr.remove();
                        var totamt = 0;
                        $('#tblValuationDetails tbody>tr').each(function () {
                            var row = $(this).closest("tr");
                            totamt = totamt + parseFloat(row.find('td:eq(9)').html());
                        });
                        $("#lblTotalValuation").text(totamt)
                    }
                })
            }
        })

        $("#ConsolidatedImage").change(function () {
            var fileUpload = $("#ConsolidatedImage").get(0);
            var files = fileUpload.files;
            // Create FormData object
            fileData = new FormData();
            // Looping over all files and add it to FormData object
            for (var i = 0; i < files.length; i++) {
                fileData.append("uploadFile", files[i]);
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UploadConsolidatedImage", "ValuatorOne")', // we are calling json method
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (data) {
                },
                error: function (ex) {
                    alert('Failed to retrieve data.' + ex);
                }
            });
            return false;
        })

        $("#btn_save").click(function () {
            SaveValuator1();
        });

        function SaveValuator1() {
            var CustomerId = $("#CustomerId").val();
            if (CustomerId == "") {
                $("#CustomErr").text("Please Select Customer Id");
                $("#CustomerId").focus();
                return;
            }
            var check = true;
            debugger;
            if ($('#divValuationDetails tbody tr').length == 0) {
                var OrnamentId = $("#ValuatorOneDetailsVM_OrnamentId").val();
                if (OrnamentId == "") {
                    $("#CustomErr").text("Please Select Ornament");
                    $("#ValuatorOneDetailsVM_OrnamentId").focus();
                    return;
                }

                var PurityId = $("#ValuatorOneDetailsVM_PurityId").val();
                if (PurityId == "") {
                    $("#CustomErr").text("Please Select Purity");
                    $("#ValuatorOneDetailsVM_PurityId").focus();
                    return;
                }

                //var UploadedFile= $("#UploadedFile").val();
                //if (UploadedFile == "") {
                //    $("#CustomErr").text("Please Select Upload File");
                //    $("#UploadedFile").focus();
                //    check=false;
                //}
            }
            debugger;
            var length = $('#tblValuationDetails tbody tr').length;
            if (length == 0) {
                $("#CustomErr").text("Please Click Add button then save record");
                $("#tblValuationDetails").focus();
            }

            var ValuatorOneViewModel = {};
            var lstValuationDetailsTrn = [];

            var fileData = new FormData();
            $("#tblValuationDetails TBODY TR").each(function () {
                var row = $(this);
                var rowValuationDetailsTrn = {};
                debugger;
                rowValuationDetailsTrn.ID = row.attr('id');
                rowValuationDetailsTrn.OrnamentId = row.find("td").eq(1).attr('id');
                rowValuationDetailsTrn.Qty = row.find("TD").eq(3).html();
                rowValuationDetailsTrn.PurityId = row.find("td").eq(4).attr('id');
                rowValuationDetailsTrn.GrossWeight = row.find("TD").eq(5).html();
                rowValuationDetailsTrn.Deductions = row.find("TD").eq(6).html();
                rowValuationDetailsTrn.NetWeight = row.find("TD").eq(7).html();
                rowValuationDetailsTrn.Rate = row.find("TD").eq(8).html();
                rowValuationDetailsTrn.Total = row.find("TD").eq(9).html();
                lstValuationDetailsTrn.push(rowValuationDetailsTrn);
            });

            ValuatorOneViewModel.ValuatorOneDetailsList = lstValuationDetailsTrn;
            ValuatorOneViewModel.ID = $('#ItemID').val();
            ValuatorOneViewModel.TransactionId = $('#TransactionId').val();
            ValuatorOneViewModel.CustomerId = $('#CustomerId').val();
            ValuatorOneViewModel.ApplicationNo = $('#ApplicationNo').val();
            ValuatorOneViewModel.Comments = $('#Comments').val();
            ValuatorOneViewModel.PreSanctionId = $("#PreSanctionId").val();
            ValuatorOneViewModel.TotalValuation = $("#lblTotalValuation").text();
            if (check == true) {
                $("#btn_save").prop("disabled", true);
                $.ajax({
                    type: "POST",
                    url: "/ValuatorOne/Insert",
                    data: JSON.stringify(ValuatorOneViewModel),
                    contentType: "application/json; charset=utf-8",
                    //contentType: false, // Not to set any content header
                    //processData: false, // Not to process data
                    dataType: "json",
                    success: function (r) {
                        debugger;
                        if (r == 1) {
                            $("#saveModal").modal('show');
                            $(document).click(function () {
                                window.location.href = urlRedirect;
                            });
                        }
                        else if (r == 2) {
                            $("#updateModal").modal('show');
                            $(document).click(function () {
                                window.location.href = urlRedirect;
                            });
                        }
                        else {
                            $("#CustomErr").text(r);
                            $("#btn_save").prop("disabled", false);
                            return false;
                        }
                    }
                });
            }
        }

        function ShowEditTableList() {
            $('#divviewfilldata').empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetValuatorOneDetails", "ValuatorOne")',
                dataType: "html",
                data: { Operation: "Edit" },
                success: function (data) {
                    $('#divsanctionfilldata').empty();
                    $('#divsanctionfilldata').html(data);
                    $('#CustomerTable').dataTable();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        function ShowViewTableList() {
            $('#diveditfilldata').empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetValuatorOneDetails", "ValuatorOne")',
                dataType: "html",
                data: { Operation: "View" },
                success: function (data) {
                    $('#divsanctionfilldata').empty();
                    $('#divsanctionfilldata').html(data);
                    $('#CustomerTable').dataTable();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        $("#divsanctionfilldata").on("click", "tr", function () {
            debugger;
            var tr = $(this).closest('tr');
            var Id = tr.find("td").eq(0).attr('id');
            var TransactionId = tr.find('td:eq(0)').html();
            var CustomerId = tr.find('td:eq(1)').html();
            var ApplicationNo = tr.find('td:eq(2)').html();

            $("#ItemID").val(Id);
            $("#TransactionId").val(TransactionId);
            $("#CustomerId").val(CustomerId);
            $("#ApplicationNo").val(ApplicationNo);
            $("#editSanctionModal").hide();
            GetValuatorOneDetails(Id);
        })

        function GetValuatorOneDetails(Id) {
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetValuatorOneDetailsById", "ValuatorOne")',
                data: "{Id: " + Id + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    debugger;
                    $("#CustomErr").text("");
                    $("#tblValuationDetails tbody tr").empty();
                    $("#divValuationDetails").show();
                    $.each(result, function (key, value) {
                        $("#" + key + "").val(value);
                    });

                    if (result.ImageName != null) {
                        $("#ConsolidatedPhoto").append('<td><a href="/ValuatorOne/Download/' + result.ID + '" target=_blank>' + result.ImageName + '</a></td>');
                    }
                    debugger;
                    var actions = "<a class=\"edit\"><i class=\"fa fa-edit\" title='Edit'></i></a>&nbsp;&nbsp;&nbsp;&nbsp;<a class=\"delete\"><i class=\"fa fa-trash\" title='Delete'></i></a>"
                    var TotalValuation = 0;
                    $.each(result.ValuatorOneDetailsList, function (key, val) {
                        var rowCount = $('#tblValuationDetails >tbody >tr').length + 1;
                        TotalValuation = TotalValuation + val.Total;
                        $('#divValuationDetails tbody').append('<tr id=' + val.ID + '>' +
                      '<td width="10%">' + rowCount + '</td>' +
                      '<td width="20%" id="' + val.OrnamentId + '">' + val.OrnamentName + '</td>' +
                      '<td width="10%"><a href="/ValuatorOne/DownLoadValuationImage/' + val.ID + '" target=_blank>' + val.ImageName + '</a></td>"' +
                      '<td width="8%">' + val.Qty + '</td>' +
                      '<td width="20%" id="' + val.PurityId + '">' + val.PurityName + '</td>' +
                      '<td width="8%">' + val.GrossWeight + '</td>' +
                      '<td width="8%">' + val.Deductions + '</td>' +
                      '<td width="8%">' + val.NetWeight + '</td>' +
                      '<td width="8%">' + val.Rate + '</td>' +
                      '<td width="8%">' + val.Total + '</td>' +
                      '<td>' + actions + '</td>' +
                      '</tr>');
                    });

                    $("#lblTotalValuation").text(TotalValuation);
                    $("#divValuationDetails").show();
                    $("#headerTotalValuation").css('display', 'block');

                    //Dropdownlist Selectedchange event
                    $("#ValuatorOneDetailsVM_PurityId").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetPurity","ProductRate")', // we are calling json method
                        dataType: 'json',
                        data: { id: $("#ProductId").val() },
                        // here we are get value of selected country and passing same value
                        success: function (data) {
                            var purity = "<select id='ValuatorOneDetailsVM_PurityId'>";
                            purity = purity + '<option value="">--Select Purity--</option>';
                            for (var i = 0; i < data.length; i++) {
                                purity = purity + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            purity = purity + '</select>';
                            $('#ValuatorOneDetailsVM_PurityId').html(purity);
                            $("#ValuatorOneDetailsVM_PurityId").removeAttr('disabled')
                        },
                        error: function (ex) {
                            alert('Failed to retrieve data.' + ex);
                        }
                    })
                    //load ornament product wise
                    $("#ValuatorOneDetailsVM_OrnamentId").empty();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetOrnamentProductWise","ValuatorOne")', // we are calling json method
                        dataType: 'json',
                        data: { id: $("#ProductId").val() },
                        // here we are get value of selected country and passing same value
                        //as inputto json method GetStates.
                        success: function (data) {
                            var ornament = "<select id='ValuatorOneDetailsVM_OrnamentId'>";
                            ornament = ornament + '<option value="">--Select Ornament--</option>';
                            for (var i = 0; i < data.length; i++) {
                                ornament = ornament + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            ornament = ornament + '</select>';
                            $('#ValuatorOneDetailsVM_OrnamentId').html(ornament);
                            $("#ValuatorOneDetailsVM_OrnamentId").removeAttr('disabled')
                        },
                        error: function (ex) {
                            alert('Failed to retrieve data.' + ex);
                        }
                    })

                    $("#tblValuationDetails TBODY TR").on("click", ".edit", function () {
                        debugger;
                        var tr = $(this).closest('tr');
                        currentRow = $(this).parents('tr');
                        debugger;
                        sr_no = tr.find('td:eq(0)').html();
                        trid = tr.attr('id'); // table row ID
                        var OrnamentId = tr.find("td").eq(1).attr('id');
                        var imgname = tr.find('td:eq(2)').html();
                        var Qty = tr.find('td:eq(3)').html();
                        var PurityId = tr.find("td").eq(4).attr('id');
                        var GrossWeight = tr.find('td:eq(5)').html();
                        var Deductions = tr.find('td:eq(6)').html();
                        var NetWeight = tr.find('td:eq(7)').html();
                        var Rate = tr.find('td:eq(8)').html();
                        var Total = tr.find('td:eq(9)').html();

                        $("#ImgPhoto").empty();
                        $("#ImgPhoto").append('<td><a href="/ValuatorOne/DownLoadValuationImage/' + result.trid + '" target=_blank>' + imgname + '</a></td>');

                        $("#ValuatorOneDetailsVM_OrnamentId").val(OrnamentId);
                        $("#ValuatorOneDetailsVM_Qty").val(Qty);
                        $("#ValuatorOneDetailsVM_PurityId").val(PurityId);
                        $("#ValuatorOneDetailsVM_GrossWeight").val(GrossWeight);
                        $("#ValuatorOneDetailsVM_Deductions").val(Deductions);
                        $("#ValuatorOneDetailsVM_NetWeight").val(NetWeight);
                        $("#ValuatorOneDetailsVM_Rate").val(Rate);
                        $("#ValuatorOneDetailsVM_Total").val(Total);
                    })

                    $("#tblValuationDetails TBODY TR").on("click", ".delete", function () {
                        if (confirm('Are you sure to remove?')) {
                            var tr = $(this).closest('tr');
                            tr.remove();
                            var totamt = 0;
                            $('#tblValuationDetails tbody>tr').each(function () {
                                var row = $(this).closest("tr");
                                totamt = totamt + parseFloat(row.find('td:eq(9)').html());
                            });
                            $("#lblTotalValuation").text(totamt)
                        }
                    })
                }
            })
        }

        function ShowClientTableList() {
            $('#divviewfilldata').empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCustomerDetails", "ValuatorOne")',
                dataType: "html",
                success: function (data) {
                    $('#diveditfilldata').empty();
                    $('#diveditfilldata').html(data);
                    $('#CustomerTable').dataTable();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        $("#diveditfilldata").on("click", "tr", function () {
            debugger;
            var tr = $(this).closest('tr');
            var CustomerId = tr.find('td:eq(0)').html();
            var PreSanctionId = tr.find("td").eq(0).attr('id');
            var ProductId = tr.find("td").eq(1).attr('id');
            var ApplicationNo = tr.find('td:eq(1)').html();

            $("#CustomerId").val(CustomerId);
            $("#PreSanctionId").val(PreSanctionId);
            $("#ApplicationNo").val(ApplicationNo);
            $("#editModal").hide();
            //Dropdownlist Selectedchange event
            $("#ValuatorOneDetailsVM_PurityId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetPurity","ProductRate")', // we are calling json method
                dataType: 'json',
                data: { id: ProductId },
                // here we are get value of selected country and passing same value
                success: function (data) {
                    var purity = "<select id='ValuatorOneDetailsVM_PurityId'>";
                    purity = purity + '<option value="">--Select Purity--</option>';
                    for (var i = 0; i < data.length; i++) {
                        purity = purity + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    purity = purity + '</select>';
                    $('#ValuatorOneDetailsVM_PurityId').html(purity);
                    $("#ValuatorOneDetailsVM_PurityId").removeAttr('disabled')
                },
                error: function (ex) {
                    alert('Failed to retrieve data.' + ex);
                }
            });
            //load ornament product wise
            $("#ValuatorOneDetailsVM_OrnamentId").empty();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetOrnamentProductWise","ValuatorOne")', // we are calling json method
                dataType: 'json',
                data: { id: ProductId },
                // here we are get value of selected country and passing same value
                //as inputto json method GetStates.
                success: function (data) {
                    var ornament = "<select id='ValuatorOneDetailsVM_OrnamentId'>";
                    ornament = ornament + '<option value="">--Select Ornament--</option>';
                    for (var i = 0; i < data.length; i++) {
                        ornament = ornament + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    ornament = ornament + '</select>';
                    $('#ValuatorOneDetailsVM_OrnamentId').html(ornament);
                    $("#ValuatorOneDetailsVM_OrnamentId").removeAttr('disabled')
                },
                error: function (ex) {
                    alert('Failed to retrieve data.' + ex);
                }
            });

        })

        var urlRedirect = '@Html.Raw(@Url.Action("ValuatorOne", "ValuatorOne"))';
        $(function () {
            var url = '@Html.Raw(@Url.Action("Delete", "ValuatorOne"))';
            $("#btnDelete").click(function () {
                $("#deleteModal").modal('show');
            });
            $("#btnDeleteConfirm").click(function () {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: '{id: "' + $("#ItemID").val() + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data != "") {
                            $("#CustomErr").text(data);
                            return false;
                        }
                        else {
                            $("#CustomErr").empty();
                            $("#DeleteSuccessModal").modal('show');

                            $(document).click(function () {
                                window.location.href = urlRedirect;
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            });
        });

    </script>
}
