@model MangalWeb.Model.Utilities.UserAuthorizations
@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Content/vendor/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="~/Content/vendor/jquery/jquery_ui/jquery-ui.min.js"></script>
<script type="text/javascript">
    function GetUser() {
        debugger;
        var usercategoryid = $('#UserAuthorizationForms_UserCategoryID').val();
        var url = '@Url.Action("GetUser", "UserAuthorization")';
        $("#UserAuthorizationForms_UserID").empty();
        $('#UserAuthorizationForms_FormID').empty();
        $('#UserAuthorizationForms_BranchID').empty();
        $.ajax({
            url: url,
            data: { UserCategoryId: usercategoryid },
            type: 'POST',
            dataType: 'json',
            success: function (result) {
                if (result != "") {
                    debugger;
                    var items = "<option value='0'>--Select User--</option>";
                    for (var x = 0; x < result.FirstList.length; x++) {
                        items += "<option value='" + result.FirstList[x].UserID + "'>" + result.FirstList[x].User + "</option>";
                    }
                    $('#UserAuthorizationForms_UserID').html(items);
                    var items1 = "<option value='0'>--Select Menu--</option>";
                    for (var x = 0; x < result.SecondList.length; x++) {
                        items1 += "<option value='" + result.SecondList[x].FormID + "'>" + result.SecondList[x].FormName + "</option>";
                        $('#UserAuthorizationForms_FormID').html(items1);
                    }
                    var items2 = "<option value='0'>--Select Branch--</option>";
                    for (var x = 0; x < result.ThirdList.length; x++) {
                        items2 += "<option value='" + result.ThirdList[x].BranchID + "'>" + result.ThirdList[x].BranchName + "</option>";
                        $('#UserAuthorizationForms_BranchID').html(items2);
                    }
                    $("#tblForm").hide();
                    $('#UserAuthorizationForms_FormID  option:first-child').attr("selected", "selected");
                    $('#UserAuthorizationForms_BranchID  option:first-child').attr("selected", "selected");
                }
                else {
                    var items = "<option value='0'>--Select User--</option>";
                    $('#UserAuthorizationForms_UserID').html(items);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                debugger;
                alert(errorThrown);
            }
        });
    }

    function GetBackDatedVoucher(ParentFormID, UserID, BranchId) {
        if (UserID != 0 && BranchId != 0)
            var url = '@Url.Action("GetBackDatedVoucher", "UserAuthorization")';
        $("#UserAuthorizationForms_BackDatedVoucher").val(0);
        $.ajax({
            url: url,
            data: { ParentId: ParentFormID, Userid: UserID, BranchId: BranchId },
            type: 'POST',
            dataType: 'JSON',
            success: function (data) {
                if (data != "") {
                    $("#UserAuthorizationForms_BackDatedVoucher").val(data);
                }
                else {
                    $("#UserAuthorizationForms_BackDatedVoucher").val(0);
                }
            }
        })
    }

    function GetAllChildFormsParentIdWise(ParentFormID, UserID, BranchID) {
        if (UserID != 0) {
            var UserCategoryID = $('#UserAuthorizationForms_UserCategoryID').val();
            var url = '@Url.Action("GetForms", "UserAuthorization")';
            var rowindex = 0;
            $("#tblFormslist").empty();
            $.ajax({
                url: url,
                data: { ParentId: ParentFormID, Userid: UserID, UserCategoryID: UserCategoryID, BranchId: BranchID },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    debugger;
                    if (data != "") {
                        debugger;
                        var html = '';
                        for (var x = 0; x < data.length; x++) {
                            var checkedVisibleString = "";
                            var disabledString = "";
                            var checkedEditString = "";
                            var checkedSaveString = "";
                            var checkedDeleteString = "";
                            var checkedViewString = "";
                            var checkedSearchString = "";

                            if (data[x].isVisible == true) {
                                checkedVisibleString = "checked=true";
                                disabledString = '';
                            }
                            else {
                                disabledString = 'disabled';
                            }

                            if (data[x].isEdit == true)
                                checkedEditString = "checked=true";
                            if (data[x].isSave == true)
                                checkedSaveString = "checked=true";
                            if (data[x].isDelete == true)
                                checkedDeleteString = "checked=true";
                            if (data[x].isView == true)
                                checkedViewString = "checked=true";
                            if (data[x].isSearch == true)
                                checkedSearchString = "checked=true";
                            var usercategoryid = $('#UserAuthorizationForms_UserCategoryID').val();

                            html += "<tr class='userauthorize'><td><input " + checkedVisibleString + "  visible='yes' type='checkbox' name='visible_id" + x + "'    class='visible_id'  />	</td>";
                            html += "<td value=" + data[x].FormID + ">" + data[x].FormName + "</td><td value=" + data[x].ParentID + ">" + data[x].ParentForm + "</td>";
                            html += "<td><input type='checkbox' " + disabledString + " Edit='yes' " + checkedEditString + "  name='isEdit" + x + "' class='isEdit'></td>";
                            html += "<td><input type='checkbox' " + disabledString + "  " + checkedSaveString + " save = 'yes'  name='isSave" + x + "' class='isSave' ></td>";
                            html += "<td><input " + disabledString + " delete='yes' " + checkedDeleteString + " type='checkbox' name='isDelete" + x + "'  class='isDelete'></td>";
                            html += "<td><input " + disabledString + " view='yes' type='checkbox' " + checkedViewString + " name='isView" + x + "'  class='isView' ></td>";
                            rowindex++;
                        }
                        $("#tblFormslist").append(html);
                    }
                    else {
                        $("#tblFormslist").append("<tr><td colspan='7'>No Sub menu</td></tr>");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
        else {
            $("#tblUserAuthoriztion").attr("style", "display:none;");
        }
    }
</script>
<script type="text/javascript">
    $(document).on('click', 'input[type=checkbox]', function () {
        var visible = $(this).attr('checked');
        if (typeof visible !== typeof undefined && visible !== false) {
            $(this).removeAttr('checked');
        }
        else {
            $(this).attr('checked', 'true');
        }
    })

    function CheckStatus(visible) {
        var visiblex;
        if (typeof visible !== typeof undefined && visible !== false) {
            visiblex = 'true';
        }
        else {
            visiblex = 'false';
        }
        return visiblex;
    }
    function saveUser() {
        var visible = 0;
        var formid = 0;
        var parentformid = 0;
        var branchid = 0;
        var backdatedvoucher = 0;
        var edit = 0;
        var save = 0;
        var delete_id = 0;
        var view = 0;
        $("#tblFormslist tr").each(function (i) {
            visible = $("input[name=visible_id" + i + "]").attr('checked');
            formid = $(this).children("td:nth-child(2)").attr('value');
            parentformid = $(this).children("td:nth-child(3)").attr('value');
            branchid = $("#UserAuthorizationForms_BranchID").val();
            backdatedvoucher = $("#UserAuthorizationForms_BackDatedVoucher").val();
            edit = $("input[name=isEdit" + i + "]").attr('checked');
            save = $("input[name=isSave" + i + "]").attr('checked');
            delete_id = $("input[name=isDelete" + i + "]").attr('checked');
            view = $("input[name=isView" + i + "]").attr('checked');
            var UserID = $('#UserAuthorizationForms_UserID').val();
            var url = '/UserAuthorization/SaveUserAuthorization';
            $.ajax({
                url: url,
                //data: { formid: formid, parentformid: parentformid, visible: CheckStatus(visible), },
                data: { index: i, UserID: UserID, formid: formid, parentformid: parentformid, branchid: branchid, backdatedvoucher: backdatedvoucher, visible: CheckStatus(visible), edit: CheckStatus(edit), save: CheckStatus(save), delete_id: CheckStatus(delete_id), view: CheckStatus(view) },
                type: 'POST',
                dataType: 'json',
                cache: false,
                success: function (data) {
                    //if (!json.error)
                    //location.reload(true);
                    $('#myModalDeleteM').modal('show');
                    $("#tblForm").hide();
                    $("#UserAuthorizationForms_UserID").val(0);
                    var theText = "--Select Menu--";
                    var theText1 = "--Select User Category--";
                    var theText2 = "--Select Branch--";
                    var theText3 = "--Select Back Dated Voucher--";
                    $("#UserAuthorizationForms_FormID option:contains(" + theText + ")").attr('selected', 'selected');
                    $("#UserAuthorizationForms_UserCategoryID option:contains(" + theText1 + ")").attr('selected', 'selected');
                    $("#UserAuthorizationForms_BranchID option:contains(" + theText2 + ")").attr('selected', 'selected');
                    $("#UserAuthorizationForms_BackDatedVoucher option:contains(" + theText3 + ")").attr('selected', 'selected');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    // alert(errorThrown);
                }
            });
        });
    }
    //individual click
    $(document).on('change', '.visible_id', function () {

        $.each($('input[name^=visible_id]'), function (index1, el1) {
            var input_arr = [];
            if ($(el1).is(':checked')) {
                debugger;
                //alert('checked');
                input_arr.push($(el1).val());

                $(el1).parents(".userauthorize").find(".isEdit").removeAttr("disabled");
                $(el1).parents(".userauthorize").find(".isSave").removeAttr("disabled");
                $(el1).parents(".userauthorize").find(".isDelete").removeAttr("disabled");
                $(el1).parents(".userauthorize").find(".isView").removeAttr("disabled");
                $(el1).parents(".userauthorize").find(".isSearch").removeAttr("disabled");
            }
            else {
                $(el1).parents(".userauthorize").find(".isEdit").attr("disabled", true);
                $(el1).parents(".userauthorize").find(".isSave").attr("disabled", true);
                $(el1).parents(".userauthorize").find(".isDelete").attr("disabled", true);
                $(el1).parents(".userauthorize").find(".isView").attr("disabled", true);
                $(el1).parents(".userauthorize").find(".isSearch").attr("disabled", true);

                $(el1).parents(".userauthorize").find(".isEdit").attr("checked", false);
                $(el1).parents(".userauthorize").find(".isSave").attr("checked", false);
                $(el1).parents(".userauthorize").find(".isDelete").attr("checked", false);
                $(el1).parents(".userauthorize").find(".isView").attr("checked", false);
                $(el1).parents(".userauthorize").find(".isSearch").attr("checked", false);
            }
        });

    });

    $(function () {
        $("#tblForm").hide();

        //$('#UserAuthorizationForms_UserID').change(function () {
        //)}

        $('#UserAuthorizationForms_UserCategoryID').change(function () {
            debugger;
            $("#tblForm").hide();
            var items = "<option value='0'>--Select User--</option>";
            $('#UserAuthorizationForms_UserID').html(items);
            var items1 = "<option value='0'>--Select Menu--</option>";
            $('#UserAuthorizationForms_FormID').html(items1);
            var items2 = "<option value>--Select Menu--</option>";
            $('#UserAuthorizationForms_BranchID').html(items2);
            GetUser();
        });
        //$('#UserAuthorizationForms_FormID').change(function () {
        //    var ParentFormID = $('#UserAuthorizationForms_FormID').val();
        //    var UserID = $('#UserAuthorizationForms_UserID').val();
        //    if (ParentFormID != 0) {
        //        GetAllChildFormsParentIdWise(ParentFormID, UserID);
        //        $("#tblForm").show();
        //    }
        //    else {

        //        $("#tblForm").hide();
        //    }

        //});
        $('#UserAuthorizationForms_BranchID').change(function () {
            var ParentFormID = $('#UserAuthorizationForms_FormID').val();
            var UserID = $('#UserAuthorizationForms_UserID').val();
            var BranchId = $('#UserAuthorizationForms_BranchID').val();
            if (ParentFormID != 0) {
                GetBackDatedVoucher(ParentFormID, UserID, BranchId)
                GetAllChildFormsParentIdWise(ParentFormID, UserID, BranchId);
                $("#tblForm").show();
            }
            else {

                $("#tblForm").hide();
            }

        });
    });

</script>

@using (Html.BeginForm())
{
    <header id="topbar" class="affix">
        <div class="col-md-5 col-sm-4 col-xs-12">
            <div class="topbar-left">
                <h4>User Authorization</h4>
            </div><!--end of topbar-left-->
        </div><!--end of col-md-5-->
        <div class="right-wrapper pull-right text-right" id="headerbutton" @TempData["headerbutton"]>
            @* onclick="return saveUser();"*@
            <button type="button" id="UserauthorizationDetails" class="mb -xs mt-xs mr-xs btn btn-success" onclick="return saveUser();">Save</button>
            @Html.ActionLink("Cancel", "UserAuthorization", null, new { @style = "text-decoration:none;", @class = "btn btn-info" })
            <a style="visibility:hidden;" class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
    </header>
        <!-- start: page  form-->
    <section id="content" class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body">
                        @TempData["PanelCity"]
                        <div class="form-horizontal" @TempData["PanelCityStyle"]>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputDefault">User Category</label>
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(tuple => tuple.UserAuthorizationForms.UserCategoryID, new SelectList(ViewBag.usercategory, "Value", "Text"), "--Select User Category--", new { @class = "form-control" })
                                        <span item="11" class="text-danger">@Html.ValidationMessageFor(tuple => tuple.UserAuthorizationForms.UserCategoryID)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputDefault">User Name</label>
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(tuple => tuple.UserAuthorizationForms.UserID, new SelectList(ViewBag.user, "Value", "Text"), "--Select User--", new { @class = "form-control" })
                                        <span item="11" class="text-danger">@Html.ValidationMessageFor(tuple => tuple.UserAuthorizationForms.UserID)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputDefault">Menu</label>
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(tuple => tuple.UserAuthorizationForms.FormID, new SelectList(ViewBag.menus, "Value", "Text"), "--Select Menu--", new { @class = "form-control" })
                                        <span item="11" class="text-danger">@Html.ValidationMessageFor(tuple => tuple.UserAuthorizationForms.FormID)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputDefault">Branch</label>
                                    <div class="col-md-10">
                                        @Html.DropDownListFor(tuple => tuple.UserAuthorizationForms.BranchID, new SelectList(ViewBag.userbranch, "Value", "Text"), "--Select Branch--", new { @class = "form-control" })
                                        <span item="11" class="text-danger">@Html.ValidationMessageFor(tuple => tuple.UserAuthorizationForms.BranchID)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-2 control-label" for="inputDefault">Back Dated Voucher</label>
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(tuple => tuple.UserAuthorizationForms.BackDatedVoucher, new { @class = "form-control" })
                                        <span item="11" class="text-danger">@Html.ValidationMessageFor(tuple => tuple.UserAuthorizationForms.BackDatedVoucher)</span>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <div class="col-md-12">
                                <div class="table-responsive" id="tblUserAuthoriztion">
                                    <table class="table table-bordered mb-none" id="tblForm" style="border: 1px solid;">
                                        <thead>
                                            <tr>
                                                <th class="col-md-1 btn-primary">
                                                    <input style="float:left" type="checkbox" id="checkAll" />
                                                    Visible <input type="checkbox" id="checkAllvisible" />
                                                </th>
                                                <th class="col-md-3 btn-primary"> Form Name</th>
                                                <th class="col-md-3 btn-primary">Main Form</th>
                                                <th class="col-md-1 btn-primary">
                                                    Edit <input type="checkbox" id="checkAllEdit" />
                                                </th>
                                                <th class="col-md-1 btn-primary">
                                                    Save <input type="checkbox" id="checkAllSave" />
                                                </th>
                                                <th class="col-md-1 btn-primary">
                                                    Delete <input type="checkbox" id="checkAllDelete" />
                                                </th>
                                                <th class="col-md-1 btn-primary">
                                                    View <input type="checkbox" id="checkAllView" />
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblFormslist"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- end: page form-->
    </section>

}
<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModalDeleteM" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title UTitle">
                        User Authorization
                    </h4>
                </div>
                <div class="modal-body ">
                    User authorization saved sucessfully
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="return hide_popup1_U();">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function show_popup() {
        document.getElementById('popup').style.display = 'block';
    }

    function show_popup1() {
        var btnsuccess = document.getElementById('btn_successmessage');
        btnsuccess.click();
    }

    $("#checkAll").click(function () {
        var chkAll = this;
        var checkboxes = $(this).closest('form').find(':checkbox');
        //checkboxes.prop('checked', true);
        checkboxes.prop('checked', $(this).is(':checked'));
        $("#tblFormslist").find(':checkbox').attr('checked', true);
        //checkboxes.each(function () {
        //    $(this)[0].checked = chkAll.checked;
        //});
        if ($(this).is(':checked')) {
            checkboxes.removeAttr("disabled");
        }
        else {
            checkboxes.attr("disabled", true);
            var headchk = $(this).closest('tr').find(':checkbox');
            headchk.removeAttr("disabled");
            $("#tblFormslist").find(".visible_id").each(function () {
                $(this).removeAttr("disabled");
            });
        }

    });

    $("#checkAllvisible").click(function () {
        //Determine the reference CheckBox in Header row.
        var chkAll = this;
        //Fetch all row CheckBoxes in the Table.
        var chkRows = $("#tblFormslist").find(".visible_id");
        //Execute loop over the CheckBoxes and check and uncheck based on
        //checked status of Header row CheckBox.
        chkRows.each(function () {
            $(this)[0].checked = chkAll.checked;
        });
    });

    $("#checkAllEdit").click(function () {
        //Determine the reference CheckBox in Header row.
        var chkAll = this;
        //Fetch all row CheckBoxes in the Table.
        var chkRows = $("#tblFormslist").find(".isEdit");
        //Execute loop over the CheckBoxes and check and uncheck based on
        //checked status of Header row CheckBox.
        chkRows.each(function () {
            $(this)[0].checked = chkAll.checked;
        });
    });


    $("#checkAllSave").click(function () {
        //Determine the reference CheckBox in Header row.
        var chkAll = this;
        //Fetch all row CheckBoxes in the Table.
        var chkRows = $("#tblFormslist").find(".isSave");
        //Execute loop over the CheckBoxes and check and uncheck based on
        //checked status of Header row CheckBox.
        chkRows.each(function () {
            $(this)[0].checked = chkAll.checked;
        });
    });


    $("#checkAllDelete").click(function () {
        //Determine the reference CheckBox in Header row.
        var chkAll = this;
        //Fetch all row CheckBoxes in the Table.
        var chkRows = $("#tblFormslist").find(".isDelete");
        //Execute loop over the CheckBoxes and check and uncheck based on
        //checked status of Header row CheckBox.
        chkRows.each(function () {
            $(this)[0].checked = chkAll.checked;
        });
    });


    $("#checkAllView").click(function () {
        //Determine the reference CheckBox in Header row.
        var chkAll = this;
        //Fetch all row CheckBoxes in the Table.
        var chkRows = $("#tblFormslist").find(".isView");
        //Execute loop over the CheckBoxes and check and uncheck based on
        //checked status of Header row CheckBox.
        chkRows.each(function () {
            $(this)[0].checked = chkAll.checked;
        });
    });


    function hide_popup() {
        document.getElementById('popup').style.display = 'none';
        window.location.href = '@Url.Action("UserAuthorization", "UserAuthorization")';
    }

    function hide_popup1_U() {
        window.location.href = '@Url.Action("UserAuthorization", "UserAuthorization")';
    }
    @{
            if (@TempData["UMessage"] == null || @TempData["UMessage"].ToString().Equals(""))
                            {
                            }
                            else
                            {
                                    @:window.onload = show_popup1;
                                            }
          }
</script>
