@model MangalWeb.Model.Transaction.ValuatorTwoViewModel
@{
    ViewBag.Title = "ValuatorTwoViewModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
@using (Ajax.BeginForm("ValuatorTwo", "ValuatorTwo", new AjaxOptions { }, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID, new { @id = "ItemID" })
    @Html.HiddenFor(x => x.KycId)
    @Html.HiddenFor(x => x.MaxLtv)
    <header id="topbar" class="affix">
        <div class="col-md-5 col-sm-4 col-xs-12">
            <div class="topbar-left">
                <h4>Valuator 2</h4>
            </div><!--end of topbar-left-->
        </div><!--end of col-md-5-->
        <div class="col-md-7 col-sm-8 col-xs-12">
            <div class="topbar-right" id="headerbutton" @TempData["headerbutton"]>
                <button href="#editSanctionModal" id="btn_edit" onclick="return ShowEditTableList();" type="button" class="@TempData["btn_editclass"]" data-toggle="modal"><span class="fa fa-pencil pr5"></span> <span class="hidden-xs">Edit</span></button>
                <button type="submit" id="btn_save" class="@TempData["btn_saveclass"]"><span class="fa fa-save pr5"></span> <span class="hidden-xs">Save</span></button>
                <button type="button" id="btnDelete" class="@TempData["btn_deleteclass"]"><span class="fa fa-trash pr5"></span> <span class="hidden-xs">Delete</span></button>
                <button href="#editSanctionModal" id="btn_view" onclick="return ShowViewTableList();" class="@TempData["btn_viewclass"]" type="button" data-toggle="modal">
                    <span class="fa fa-eye pr5"></span> <span class="hidden-xs">View</span>
                </button>
                <a href="@Html.Raw(@Url.Action("ValuatorTwo", "ValuatorTwo"))" type="button" data-toggle="modal" class="btn btn-alert btn-md light fw600 ml10" title="Cancel" alt="Cancel"><span class="fa fa-close pr5"></span><span class="hidden-xs">Cancel</span></a>
            </div><!--end of topbar-right-->
        </div><!--end of col-md-7-->

    </header>
    <!-- Begin: Content -->
    <section id="content" class="animated fadeIn content_height">
        <!-- Dashboard Tiles -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel1 panel-primary">
                    <div class="admin-form">
                        <div class="panel-body">
                            <div class="section row mbn">
                                <div class="form-horizontal">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label">Transaction Id<span class="text-danger"></span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <span class="text-danger" id="CustomErr"> </span>
                                                @Html.EditorFor(model => model.TransactionId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Transaction Id", @readonly = true } })
                                            </div>
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label">Customer Id<span class="text-danger">*</span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                @Html.EditorFor(model => model.CustomerId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer Id", @autofocus = "autofocus", @readonly = true, @style = "display:inline;width:280px;" } })
                                                <div class="input-group-btn" style="display:inline;">
                                                    <button type="button" data-toggle="modal" data-target="#editModal" onclick="ShowClientTableList();" class="btn btn-info btn_info1">...</button>
                                                    @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label">Application No<span class="text-danger"></span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                @Html.EditorFor(model => model.ApplicationNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Application No", @readonly = true } })
                                            </div>
                                            <label class="col-md-2 control-label" id="lblSerialNumber"> Consolidated Image <span class="text-danger"> * </span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                                <input type="file" id="ConsolidatedImage" readonly="readonly" />
                                                <div id="ConsolidatedPhoto" readonly="true">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label"> Eligible Loan Amount <span class="text-danger"></span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                @Html.EditorFor(model => model.EligibleLoanAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Eligible Loan Amount", @readonly = true } })
                                            </div>
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label"> LTV % <span class="text-danger">*</span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                @Html.EditorFor(model => model.LTVPerc, new { htmlAttributes = new { @class = "form-control", @placeholder = "LTV %", @readonly = true } })
                                                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label"> SanctionLoanAmount <span class="text-danger"></span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                @Html.EditorFor(model => model.SanctionLoanAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sanction Loan Amount", @readonly = true } })
                                            </div>
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label"> Comments <span class="text-danger">*</span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @placeholder = "Comments", @cols = "20", @rows = "2", @style = "resize:none;" })
                                                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <small style="float:right;"><span class="text-danger">* </span>indicates compulsary fields</small>
                                <label><b>Valuation Details :</b></label><br /><br />
                                <hr style="margin-top:0px;" />
                                <div class="panel-body panel-no-padding">
                                    <div id="divValuationDetails">
                                        <table cellpadding="0" style="width:90%" cellspacing="0" border="0" class="table table-striped table-bordered table-hover table-fixed-header m0" id="tblValuationDetails">
                                            <thead>
                                                <tr>
                                                    <th class="col-sm-2" style="width:2%">Sr.No.</th>
                                                    <th style="text-align:left">Ornament Name</th>
                                                    <th style="text-align:left">Ornament Image</th>
                                                    <th style="text-align:left">Qty</th>
                                                    <th style="text-align:left">Purity</th>
                                                    <th style="text-align:left">Gross Weight</th>
                                                    <th style="text-align:left">Deductions</th>
                                                    <th style="text-align:left">Net Weight</th>
                                                    <th style="text-align:left">Rate</th>
                                                    <th style="text-align:left">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                                <div>
                                    <label id="headerTotalValuation">Total Valuation :</label>
                                    <label id="lblTotalValuation"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@section javascriptsection{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {

            $("#divValuationDetails").hide();
            $("#headerTotalValuation").css('display', 'none');

            $("table").on("keyup", "input", function () {
                debugger;
                var row = $(this).closest("tr");
                var grossweight = parseFloat(row.find(".grossweight").val());
                var deductions = parseFloat(row.find(".deductions").val());
                var NetWeight = grossweight - deductions;
                row.find(".NetWeight").text(isNaN(NetWeight) ? "" : NetWeight);
                var Rate = parseFloat(row.find(".Rate").text());
                row.find(".Total").text(NetWeight * Rate);
            });

        });

        $("#btn_save").click(function () {
            SaveValuator1();
        });

        function SaveValuator1() {
            var CustomerId = $("#CustomerId").val();
            if (CustomerId == "") {
                $("#CustomErr").text("Please Select Customer Id");
                $("#CustomerId").focus();
                return;
            }
            var check = true;
            debugger;
            if ($('#divValuationDetails tbody tr').length == 0) {
                var OrnamentId = $("#ValuatorOneDetailsVM_OrnamentId").val();
                if (OrnamentId == "") {
                    $("#CustomErr").text("Please Select Ornament");
                    $("#ValuatorOneDetailsVM_OrnamentId").focus();
                    return;
                }

                var PurityId = $("#ValuatorOneDetailsVM_PurityId").val();
                if (PurityId == "") {
                    $("#CustomErr").text("Please Select Purity");
                    $("#ValuatorOneDetailsVM_PurityId").focus();
                    return;
                }

                //var UploadedFile= $("#UploadedFile").val();
                //if (UploadedFile == "") {
                //    $("#CustomErr").text("Please Select Upload File");
                //    $("#UploadedFile").focus();
                //    check=false;
                //}
            }
            debugger;
            var length = $('#tblValuationDetails tbody tr').length;
            if (length == 0) {
                $("#CustomErr").text("Please Click Add button then save record");
                $("#tblValuationDetails").focus();
            }

            var ValuatorOneViewModel = {};
            var lstValuationDetailsTrn = [];

            var fileData = new FormData();
            $("#tblValuationDetails TBODY TR").each(function () {
                var row = $(this);
                var rowValuationDetailsTrn = {};
                debugger;
                rowValuationDetailsTrn.ID = row.attr('id');
                rowValuationDetailsTrn.OrnamentId = row.find("td").eq(1).attr('id');
                rowValuationDetailsTrn.Qty = row.find("TD").eq(3).html();
                rowValuationDetailsTrn.PurityId = row.find("td").eq(4).attr('id');
                rowValuationDetailsTrn.GrossWeight = row.find("TD").eq(5).html();
                rowValuationDetailsTrn.Deductions = row.find("TD").eq(6).html();
                rowValuationDetailsTrn.NetWeight = row.find("TD").eq(7).html();
                rowValuationDetailsTrn.Rate = row.find("TD").eq(8).html();
                rowValuationDetailsTrn.Total = row.find("TD").eq(9).html();
                lstValuationDetailsTrn.push(rowValuationDetailsTrn);
            });

            ValuatorOneViewModel.ValuatorOneDetailsList = lstValuationDetailsTrn;
            ValuatorOneViewModel.ID = $('#ItemID').val();
            ValuatorOneViewModel.TransactionId = $('#TransactionId').val();
            ValuatorOneViewModel.CustomerId = $('#CustomerId').val();
            ValuatorOneViewModel.ApplicationNo = $('#ApplicationNo').val();
            ValuatorOneViewModel.Comments = $('#Comments').val();
            ValuatorOneViewModel.PreSanctionId = $("#PreSanctionId").val();
            if (check == true) {
                $("#btn_save").prop("disabled", true);
                $.ajax({
                    type: "POST",
                    url: "/ValuatorTwo/Insert",
                    data: JSON.stringify(ValuatorOneViewModel),
                    contentType: "application/json; charset=utf-8",
                    //contentType: false, // Not to set any content header
                    //processData: false, // Not to process data
                    dataType: "json",
                    success: function (r) {
                        debugger;
                        if (r == 1) {
                            $("#saveModal").modal('show');
                            $(document).click(function () {
                                window.location.href = urlRedirect;
                            });
                        }
                        else if (r == 2) {
                            $("#updateModal").modal('show');
                            $(document).click(function () {
                                window.location.href = urlRedirect;
                            });
                        }
                        else {
                            $("#CustomErr").text(r);
                            $("#btn_save").prop("disabled", false);
                            return false;
                        }
                    }
                });
            }
        }

        function ShowEditTableList() {
            $('#divviewfilldata').empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetValuatorOneDetails", "ValuatorTwo")',
                dataType: "html",
                data: { Operation: "Edit" },
                success: function (data) {
                    $('#divsanctionfilldata').empty();
                    $('#divsanctionfilldata').html(data);
                    $('#CustomerTable').dataTable();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        function ShowViewTableList() {
            $('#diveditfilldata').empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetValuatorOneDetails", "ValuatorTwo")',
                dataType: "html",
                data: { Operation: "View" },
                success: function (data) {
                    $('#divsanctionfilldata').empty();
                    $('#divsanctionfilldata').html(data);
                    $('#CustomerTable').dataTable();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        $("#diveditfilldata").on("click", "tr", function () {
            debugger;
            var tr = $(this).closest('tr');
            var Id = tr.find("td").eq(0).attr('id');
            var TransactionId = tr.find("td").eq(1).attr('id');
            var CustomerId = tr.find('td:eq(0)').html();
            var ApplicationNo = tr.find('td:eq(1)').html();

            $("#ItemID").val(Id);
            $("#TransactionId").val(TransactionId);
            $("#CustomerId").val(CustomerId);
            $("#ApplicationNo").val(ApplicationNo);
            $("#editModal").hide();
            GetValuatorOneDetails(Id);
        })

        function GetValuatorOneDetails(Id) {
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetValuatorOneDetailsById", "ValuatorTwo")',
                data: "{Id: " + Id + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    $("#divValuationDetails").show();
                    debugger;
                    $("#CustomErr").text("");
                    $("#tblValuationDetails tbody tr").empty();
                    $("#divValuationDetails").show();
                    $.each(result, function (key, value) {
                        $("#" + key + "").val(value);
                    });

                    if (result.ImageName != null) {
                        $("#ConsolidatedPhoto").append('<td><a href="/ValuatorTwo/Download/' + result.ID + '" target=_blank>' + result.ImageName + '</a></td>');
                    }
                    var purity = "<select class='ProductDetailsViewModel_Purity'>";
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetPurity","ProductRate")', // we are calling json method
                        dataType: 'json',
                        data: { id: 1 },
                        // here we are get value of selected country and passing same value
                        //as inputto json method GetStates.
                        success: function (data) {
                            purity = purity + '<option value="">--Select Purity--</option>';
                            for (var i = 0; i < data.length; i++) {
                                purity = purity + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                            }
                            purity = purity + '</select>';
                            $('.ProductDetailsViewModel_Purity').html(purity);
                            $(".ProductDetailsViewModel_Purity").removeAttr('disabled')
                        },
                        error: function (ex) {
                            alert('Failed to retrieve states.' + ex);
                        }
                    });

                    $.each(result.ValuatorTwoDetailsList, function (key, val) {
                        $("[class*=ProductDetailsViewModel_Purity] option").each(function () {
                            if ($(this).val() == val.PurityId) {
                                $(this).attr('selected', 'selected');
                            }
                        });
                        var rowCount = $('#tblValuationDetails >tbody >tr').length + 1;
                        $('#divValuationDetails tbody').append('<tr id=' + val.ID + '>' +
                      '<td width="10%">' + rowCount + '</td>' +
                      '<td width="20%" id="' + val.OrnamentId + '">' + val.OrnamentName + '</td>' +
                      '<td width="10%"><a href="/ValuatorTwo/DownLoadValuationImage/' + val.ID + '" target=_blank>' + val.ImageName + '</a>' +
                      '<input type=file></td>' +
                      '<td width="8%">' + val.Qty + '</td>' +
                      '<td> ' + purity + '</td>' +
                      '<td width="8%"><input type=text class=grossweight style=width:80px; value="' + val.GrossWeight + '"/></td>' +
                      '<td width="8%"><input type=text class=deductions style=width:80px; value="' + val.Deductions + '"/></td>' +
                      '<td width="8%" class=NetWeight>' + val.NetWeight + '</td>' +
                      '<td width="8%" class=Rate>' + val.Rate + '</td>' +
                      '<td width="8%" class=Total>' + val.Total + '</td>' +
                      '</tr>');
                    });

                    var totamt = 0;
                    $('#tblValuationDetails tbody>tr').each(function () {
                        var row = $(this).closest("tr");
                        totamt = totamt + parseFloat(row.find('.Total').text());
                    });
                    $("#headerTotalValuation").css('display', 'block');
                    $("#lblTotalValuation").text(totamt);

                    var ltv = parseFloat($("#MaxLtv").val());
                    var eligibleamt = totamt * ltv / 100;
                    $("#EligibleLoanAmount").val(eligibleamt);
                    $("#SanctionLoanAmount").val(eligibleamt);
                    var ltvperc = eligibleamt / totamt * 100;
                    $("#LTVPerc").val(parseFloat(ltvperc).toFixed(2));
                }
            });
        }

        function ShowClientTableList() {
            $('#divviewfilldata').empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCustomerDetails", "ValuatorTwo")',
                dataType: "html",
                success: function (data) {
                    $('#diveditfilldata').empty();
                    $('#diveditfilldata').html(data);
                    $('#CustomerTable').dataTable();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        //$("#diveditfilldata").on("click", "tr", function () {
        //    debugger;
        //    var tr = $(this).closest('tr');
        //    var CustomerId = tr.find('td:eq(0)').html();
        //    var PreSanctionId = tr.find("td").eq(0).attr('id');
        //    var ApplicationNo = tr.find('td:eq(1)').html();

        //    $("#CustomerId").val(CustomerId);
        //    $("#PreSanctionId").val(PreSanctionId);
        //    $("#ApplicationNo").val(ApplicationNo);
        //    $("#editModal").hide();
        //})

        var urlRedirect = '@Html.Raw(@Url.Action("ValuatorTwo", "ValuatorTwo"))';

        $(function () {
            var url = '@Html.Raw(@Url.Action("Delete", "ValuatorTwo"))';
            $("#btnDelete").click(function () {
                $("#deleteModal").modal('show');
            });

            $("#btnDeleteConfirm").click(function () {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: '{id: "' + $("#ItemID").val() + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data != "") {
                            $("#CustomErr").text(data);
                            return false;
                        }
                        else {
                            $("#CustomErr").empty();
                            $("#DeleteSuccessModal").modal('show');

                            $(document).click(function () {
                                window.location.href = urlRedirect;
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            });
        });

    </script>
}
