@model MangalWeb.Model.Transaction.ValuatorTwoViewModel
@{
    ViewBag.Title = "ValuatorTwoViewModel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
@using (Ajax.BeginForm("ValuatorTwo", "ValuatorTwo", new AjaxOptions { }, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID, new { @id = "ItemID" })
    @Html.HiddenFor(x => x.KycId)
    @Html.HiddenFor(x => x.ValuatorOneId)
    @Html.HiddenFor(x => x.ProductId)
    @Html.HiddenFor(x => x.MaxLtv)
    @Html.HiddenFor(x => x.operation)
    <header id="topbar" class="affix">
        <div class="col-md-5 col-sm-4 col-xs-12">
            <div class="topbar-left">
                <h4>Valuator 2</h4>
            </div><!--end of topbar-left-->
        </div><!--end of col-md-5-->
        <div class="col-md-7 col-sm-8 col-xs-12">
            <div class="topbar-right" id="headerbutton" @TempData["headerbutton"]>
                <button href="#editSanctionModal" id="btn_edit" onclick="return ShowEditTableList();" type="button" class="@TempData["btn_editclass"]" data-toggle="modal"><span class="fa fa-pencil pr5"></span> <span class="hidden-xs">Edit</span></button>
                <button type="submit" id="btn_save" class="@TempData["btn_saveclass"]"><span class="fa fa-save pr5"></span> <span class="hidden-xs">Save</span></button>
                <button type="button" id="btnDelete" class="@TempData["btn_deleteclass"]"><span class="fa fa-trash pr5"></span> <span class="hidden-xs">Delete</span></button>
                <button href="#editSanctionModal" id="btn_view" onclick="return ShowViewTableList();" class="@TempData["btn_viewclass"]" type="button" data-toggle="modal">
                    <span class="fa fa-eye pr5"></span> <span class="hidden-xs">View</span>
                </button>
                <a href="@Html.Raw(@Url.Action("ValuatorTwo", "ValuatorTwo"))" type="button" data-toggle="modal" class="btn btn-alert btn-md light fw600 ml10" title="Cancel" alt="Cancel"><span class="fa fa-close pr5"></span><span class="hidden-xs">Cancel</span></a>
            </div><!--end of topbar-right-->
        </div><!--end of col-md-7-->

    </header>
    <!-- Begin: Content -->
    <section id="content" class="animated fadeIn content_height">
        <!-- Dashboard Tiles -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel1 panel-primary">
                    <div class="admin-form">
                        <div class="panel-body">
                            <div class="section row mbn">
                                <div class="form-horizontal">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label">Transaction Id<span class="text-danger"></span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                <span class="text-danger" id="CustomErr"> </span>
                                                @Html.EditorFor(model => model.TransactionId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Transaction Id", @readonly = true } })
                                            </div>
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label">Customer Id<span class="text-danger"> * </span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                @Html.EditorFor(model => model.CustomerId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Customer Id", @autofocus = "autofocus", @readonly = true, @style = "display:inline;width:280px;" } })
                                                <div class="input-group-btn" style="display:inline;">
                                                    <button type="button" data-toggle="modal" data-target="#editModal" onclick="ShowClientTableList();" class="btn btn-info btn_info1">...</button>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label">Application No<span class="text-danger"></span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                @Html.EditorFor(model => model.ApplicationNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Application No", @readonly = true } })
                                            </div>
                                            <label class="col-md-2 control-label"> Consolidated Image <span class="text-danger"> * </span></label>
                                            <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
                                                <div id="ConsolidatedPhoto">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <small style="float:right;"><span class="text-danger">* </span>indicates compulsary fields</small>
                                <hr style="margin-top:0px;" />
                                <label><b>Valuation Details :</b></label>
                                <div class="panel-body panel-no-padding">
                                    <div id="divValuationTwoDetails">
                                        <table cellpadding="0" style="width:100%" cellspacing="0" border="0" class="table table-striped table-bordered table-hover table-fixed-header m0" id="tblValuationTwoDetails">
                                            <thead>
                                                <tr>
                                                    <th class="col-sm-2" style="width:2%">Sr.No.</th>
                                                    <th style="text-align:left">Ornament Name</th>
                                                    <th style="text-align:left">Ornament Image</th>
                                                    <th style="text-align:left">Qty</th>
                                                    <th style="text-align:left">Purity</th>
                                                    <th style="text-align:left">Gross Weight</th>
                                                    <th style="text-align:left">Deductions</th>
                                                    <th style="text-align:left">Net Weight</th>
                                                    <th style="text-align:left">Rate</th>
                                                    <th style="text-align:left">Val 1 Total</th>
                                                    <th style="text-align:left">Val 2 Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                        <input type="button" class="btn btn-primary btn-sm pull-right" value="Evaluate" id="btnEvaluate" />
                                    </div>
                                </div>
                                <div id="divValuationDetails">
                                    <input type="button" class="btn btn-primary btn-sm" value="Edit" id="btnEdit" />
                                    <table cellpadding="0" style="width:100%" cellspacing="0" border="0" class="table table-striped table-bordered table-hover table-fixed-header m0" id="tblValuationDetails">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-2" style="width:2%">Sr.No.</th>
                                                <th style="text-align:left">Ornament Name</th>
                                                <th style="text-align:left">Ornament Image</th>
                                                <th style="text-align:left">Qty</th>
                                                <th style="text-align:left">Purity</th>
                                                <th style="text-align:left">Gross Weight</th>
                                                <th style="text-align:left">Deductions</th>
                                                <th style="text-align:left">Net Weight</th>
                                                <th style="text-align:left">Rate</th>
                                                <th style="text-align:left">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div>
                                    <label id="headerTotalValuation">Total Valuation :</label>
                                    <label id="lblTotalValuation"></label>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label"> Eligible Loan Amount <span class="text-danger"></span></label>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            @Html.EditorFor(model => model.EligibleLoanAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Eligible Loan Amount", @readonly = true } })
                                        </div>
                                        <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label"> LTV % <span class="text-danger">*</span></label>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            @Html.EditorFor(model => model.LTVPerc, new { htmlAttributes = new { @class = "form-control", @placeholder = "LTV %", @readonly = true } })
                                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label"> Sanction Loan Amount <span class="text-danger"></span></label>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            @Html.EditorFor(model => model.SanctionLoanAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sanction Loan Amount", @readonly = true } })
                                        </div>
                                        <label class="col-lg-2 col-md-2 col-sm-3 col-xs-12 control-label"> Comments <span class="text-danger">*</span></label>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                            @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @placeholder = "Comments", @cols = "20", @rows = "2", @style = "resize:none;" })
                                            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@section javascriptsection{
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function () {

            
            $("#divValuationDetails").hide();
            $("#divValuationTwoDetails").hide();
            $("#btnEdit").hide();
            $("#btnEvaluate").hide();

            $("#headerTotalValuation").css('display', 'none');

            $("table").on("keyup", "input", function (evt) {
                    var self = $(this);
                    self.val(self.val().replace(/[^0-9\.]/g, ''));
                    if ((evt.which != 46 || self.val().indexOf('.') != -1) && (evt.which < 48 || evt.which > 57)) {
                        evt.preventDefault();
                    }
                debugger;
                var row = $(this).closest("tr");
                var grossweight = parseFloat(row.find(".grossweight").val());
                var deductions = parseFloat(row.find(".deductions").val());
                var NetWeight = grossweight - deductions;
                row.find(".NetWeight").text(isNaN(NetWeight) ? "" : NetWeight);
                var Rate = parseFloat(row.find(".Rate").text()).toFixed(2);
                row.find(".Val2Total").text(parseFloat(NetWeight * Rate).toFixed(2));

                $("#tblValuationDetails tbody").empty();
                $("#divValuationDetails").hide();
                $("#btnEdit").hide();
                $("#headerTotalValuation").css('display', 'none');
                $("#lblTotalValuation").css('display', 'none');
                $("#lblTotalValuation").text(0);
                $("#EligibleLoanAmount").val(0);
                $("#SanctionLoanAmount").val(0);
                $("#LTVPerc").val(0);
                //var val1tot = parseFloat(row.find(".Val1Total").text()).toFixed(2);
                //var val2tot = parseFloat(row.find(".Val2Total").text()).toFixed(2);

                //var totamt = 0;
                //$('#tblValuationTwoDetails tbody>tr').each(function () {
                //    var row = $(this).closest("tr");
                //    totamt = totamt + parseFloat(row.find('.Val2Total').text());
                //});
                //$("#headerTotalValuation").css('display', 'block');
                //$("#lblTotalValuation").text(parseFloat(totamt).toFixed(2));

                //var ltv = parseFloat($("#MaxLtv").val());
                //var eligibleamt = totamt * ltv / 100;
                //$("#EligibleLoanAmount").val(parseFloat(eligibleamt).toFixed(2));
                ////$("#SanctionLoanAmount").val(parseFloat(eligibleamt).toFixed(2));
                //$("#SanctionLoanAmount").val(0);
                //var ltvperc = eligibleamt / totamt * 100;
                //$("#LTVPerc").val(parseFloat(ltvperc).toFixed(2));
            });

            $("table").on("change", "select", function () {
                var purityid = $(this).val();
                var row = $(this).closest("tr");
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SetRateOfSelectedPurity", "ValuatorOne")',
                    data: '{ProductId: "' + $("#ProductId").val() + '",PurityId: "' + purityid + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        row.find(".Rate").text(parseFloat(data).toFixed(2));
                        var Rate = row.find(".Rate").text();
                        var grossweight = parseFloat(row.find(".grossweight").val());
                        var deductions = parseFloat(row.find(".deductions").val());
                        var NetWeight = grossweight - deductions;
                        row.find(".NetWeight").text(isNaN(NetWeight) ? "" : NetWeight);
                        row.find(".Val2Total").text(parseFloat(NetWeight * Rate).toFixed(2));

                        $("#tblValuationDetails tbody").empty();
                        $("#divValuationDetails").hide();
                        $("#btnEdit").hide();
                        $("#headerTotalValuation").css('display', 'none');
                        $("#lblTotalValuation").css('display', 'none');
                        $("#lblTotalValuation").text(0);
                        $("#EligibleLoanAmount").val(0);
                        $("#SanctionLoanAmount").val(0);
                        $("#LTVPerc").val(0);
                        //var val1tot = parseFloat(row.find(".Val1Total").text()).toFixed(2);
                        //var val2tot = parseFloat(row.find(".Val2Total").text()).toFixed(2);

                        //var totamt = 0;
                        //$('#tblValuationTwoDetails tbody>tr').each(function () {
                        //    var row = $(this).closest("tr");
                        //    totamt = totamt + parseFloat(row.find('.Val2Total').text());
                        //});
                        //$("#headerTotalValuation").css('display', 'block');
                        //$("#lblTotalValuation").text(parseFloat(totamt).toFixed(2));

                        //var ltv = parseFloat($("#MaxLtv").val());
                        //var eligibleamt = totamt * ltv / 100;
                        //$("#EligibleLoanAmount").val(parseFloat(eligibleamt).toFixed(2));
                        ////$("#SanctionLoanAmount").val(parseFloat(eligibleamt).toFixed(2));
                        //$("#SanctionLoanAmount").val(0);
                        //var ltvperc = eligibleamt / totamt * 100;
                        //$("#LTVPerc").val(parseFloat(ltvperc).toFixed(2));
                    },
                    error: function (ex) {
                        alert('Failed to retrieve data.' + ex);
                    }
                });
            });
        });

        $("#btnEdit").click(function () {

            $("#tblValuationDetails tbody").empty();
            $("#divValuationDetails").hide();


            $('.ValuatorTwoDetailsVM_PurityId').css({ 'background-color': 'transparent' });
            $('.grossweight').css({ 'background-color': 'transparent' });
            $('.deductions').css({ 'background-color': 'transparent' });

            $('.ValuatorTwoDetailsVM_PurityId').removeAttr("disabled");
            $('.grossweight').removeAttr("disabled");
            $('.deductions').removeAttr("disabled");

            $("#headerTotalValuation").css('display', 'none');
            $("#lblTotalValuation").css('display', 'none');
            $("#lblTotalValuation").text(0);
            $("#EligibleLoanAmount").val(0);
            $("#SanctionLoanAmount").val(0);
            $("#LTVPerc").val(0);

        });

        $("#btnEvaluate").click(function () {

            $("#divValuationDetails").show();
            $("#tblValuationDetails tbody").empty();
            $("#btnEdit").show();

            $('#tblValuationTwoDetails input[type="text"]').prop("disabled", true);
            $('#tblValuationTwoDetails select').prop("disabled", true);
            $(':input[readonly]').css({ 'background-color': '#faf4b3' });
            $(':input[disabled]').css({ 'background-color': '#faf4b3' });

            $("#tblValuationTwoDetails TBODY TR").each(function () {
                var row = $(this);
                var rowValuationDetailsTrn = {};
                var ID = row.attr('id');
                var ValOneId = row.find("td").eq(0).attr('id');
                if (typeof (ValOneId) === "undefined") {
                    ValOneId = ID;
                }
                var OrnamentId = row.find("td").eq(1).attr('id');
                var OrnamentName = row.find("td").eq(1).html();
                var Qty = row.find("TD").eq(3).html();
                var PurityId = row.find(".ValuatorTwoDetailsVM_PurityId option:selected").val();
                var PurityName = row.find(".ValuatorTwoDetailsVM_PurityId option:selected").html();
                var ImageName = row.find('td:eq(2)').text();
                var GrossWeight = row.find(".grossweight").val();
                var Deductions = row.find(".deductions").val();
                var NetWeight = row.find(".NetWeight").text();
                var Rate = row.find(".Rate").text();
                var val1Total = row.find(".Val1Total").text();
                var val2Total = row.find(".Val2Total").text();
                var EvaluateTotal = 0;
                if (parseFloat(val1Total) > parseFloat(val2Total) || parseFloat(val1Total) == parseFloat(val2Total)) {
                    EvaluateTotal = val2Total;
                    var rowCount = $('#tblValuationDetails >tbody >tr').length + 1;
                    var row = '<tr id=' + ID + '>' +
                  '<td width="10%">' + rowCount + '</td>' +
                  '<td width="30%" id=' + OrnamentId + '>' + OrnamentName + '</td>' +
                  '<td width="10%"><a href="/ValuatorTwo/DownLoadValuationImage/' + ID + '" target=_blank>' + ImageName + '</a>' +
                  '<td width="20%">' + Qty + '</td>' +
                  '<td width="20%" id=' + PurityId + '> ' + PurityName + '</td>' +
                  '<td width="20%"> ' + GrossWeight + '</td>' +
                  '<td width="20%"> ' + Deductions + '</td>' +
                  '<td width="20%"> ' + NetWeight + '</td>' +
                  '<td width="20%">' + Rate + '</td>' +
                  '<td width="20%">' + EvaluateTotal + '</td>' +
                  '</tr>';
                    $("#tblValuationDetails tbody").append(row);
                }
                else {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetValuatorOneData","ValuatorTwo")', // we are calling json method
                        dataType: 'json',
                        data: { id: ValOneId },
                        // here we are get value of selected country and passing same value
                        success: function (data) {
                            EvaluateTotal = val1Total;
                            var rowCount = $('#tblValuationDetails >tbody >tr').length + 1;
                            var row = '<tr id=' + data.ID + '>' +
                          '<td width="10%">' + rowCount + '</td>' +
                          '<td width="30%" id=' + data.OrnamentId + '>' + data.OrnamentName + '</td>' +
                          '<td width="10%"><a href="/ValuatorTwo/DownLoadValuationImage/' + data.ID + '" target=_blank>' + data.ImageName + '</a>' +
                          '<td width="20%">' + data.Qty + '</td>' +
                          '<td width="20%" id=' + data.PurityId + '> ' + data.PurityName + '</td>' +
                          '<td width="20%"> ' + data.GrossWeight + '</td>' +
                          '<td width="20%"> ' + data.Deductions + '</td>' +
                          '<td width="20%"> ' + data.NetWeight + '</td>' +
                          '<td width="20%">' + data.Rate + '</td>' +
                          '<td width="20%">' + data.ValOneTotal + '</td>' +
                          '</tr>';
                            $("#tblValuationDetails tbody").append(row);
                            var totamt = 0;
                            $('#tblValuationDetails tbody>tr').each(function () {
                                var row = $(this).closest("tr");
                                totamt = totamt + parseFloat(row.find("td").eq(9).text());
                            });
                            $("#headerTotalValuation").css('display', 'block');
                            $("#lblTotalValuation").css('display', 'block');
                            $("#lblTotalValuation").text(parseFloat(totamt).toFixed(2));

                            var ltv = parseFloat($("#MaxLtv").val());
                            var eligibleamt = totamt * ltv / 100;
                            $("#EligibleLoanAmount").val(parseFloat(eligibleamt).toFixed(2));
                            //$("#SanctionLoanAmount").val(parseFloat(eligibleamt).toFixed(2));
                            $("#SanctionLoanAmount").val(0);
                            var ltvperc = eligibleamt / totamt * 100;
                            $("#LTVPerc").val(parseFloat(ltvperc).toFixed(2));
                        },
                        error: function (ex) {
                            alert('Failed to retrieve data.' + ex);
                        }
                    })
                }
            });
            var totamt = 0;
            $('#tblValuationDetails tbody>tr').each(function () {
                var row = $(this).closest("tr");
                totamt = totamt + parseFloat(row.find("td").eq(9).text());
            });
            $("#lblTotalValuation").css('display', 'block');
            $("#headerTotalValuation").css('display', 'block');
            $("#lblTotalValuation").text(parseFloat(totamt).toFixed(2));

            var ltv = parseFloat($("#MaxLtv").val());
            var eligibleamt = totamt * ltv / 100;
            $("#EligibleLoanAmount").val(parseFloat(eligibleamt).toFixed(2));
            //$("#SanctionLoanAmount").val(parseFloat(eligibleamt).toFixed(2));
            $("#SanctionLoanAmount").val(0);
            var ltvperc = eligibleamt / totamt * 100;
            $("#LTVPerc").val(parseFloat(ltvperc).toFixed(2));
        });

        $("#btn_save").click(function () {
            SaveValuator2();
        });

        function SaveValuator2() {
            //var CustomerId = $("#CustomerId").val();
            //if (CustomerId == "") {
            //    $("#CustomErr").text("Please Select Customer Id");
            //    $("#CustomerId").focus();
            //    return;
            //}
            var check = true;
            debugger;
            if ($('#tblValuationDetails tbody tr').length == 0) {
                alert('Please Click on Evaluate button then save record');
                $("#tblValuationDetails").focus();
                return;
            }

            var ValuatorTwoViewModel = {};
            var lstValuationDetailsTrn = [];
            var lstValuatorTwoDetailsTrn = [];

            $("#tblValuationTwoDetails TBODY TR").each(function () {
                var row = $(this);
                var rowValuatortwoDetailsTrn = {};
                rowValuatortwoDetailsTrn.ID = row.attr('id');
                rowValuatortwoDetailsTrn.ValOneDetailsId = row.find("td").eq(0).attr('id');
                if (typeof (rowValuatortwoDetailsTrn.ValOneDetailsId) === "undefined") {
                    rowValuatortwoDetailsTrn.ValOneDetailsId = rowValuatortwoDetailsTrn.ID;
                }
                rowValuatortwoDetailsTrn.OrnamentId = row.find("td").eq(1).attr('id');
                rowValuatortwoDetailsTrn.Qty = row.find("TD").eq(3).html();
                rowValuatortwoDetailsTrn.PurityId = row.find(".ValuatorTwoDetailsVM_PurityId option:selected").val();
                rowValuatortwoDetailsTrn.GrossWeight = row.find(".grossweight").val();
                rowValuatortwoDetailsTrn.Deductions = row.find(".Deductions").val();
                rowValuatortwoDetailsTrn.NetWeight = row.find("TD").eq(7).html();
                rowValuatortwoDetailsTrn.Rate = row.find("TD").eq(8).html();
                rowValuatortwoDetailsTrn.ValOneTotal = row.find("TD").eq(9).html();
                rowValuatortwoDetailsTrn.ValTwoTotal = row.find("TD").eq(10).html();
                lstValuatorTwoDetailsTrn.push(rowValuatortwoDetailsTrn);
            });

            $("#tblValuationDetails TBODY TR").each(function () {
                var row = $(this);
                var rowValuationDetailsTrn = {};
                rowValuationDetailsTrn.ID = row.attr('id');
                rowValuationDetailsTrn.OrnamentId = row.find("td").eq(1).attr('id');
                rowValuationDetailsTrn.Qty = row.find("TD").eq(3).html();
                rowValuationDetailsTrn.PurityId = row.find("td").eq(4).attr('id');
                rowValuationDetailsTrn.GrossWeight = row.find("TD").eq(5).html();
                rowValuationDetailsTrn.Deductions = row.find("TD").eq(6).html();
                rowValuationDetailsTrn.NetWeight = row.find("TD").eq(7).html();
                rowValuationDetailsTrn.Rate = row.find("TD").eq(8).html();
                rowValuationDetailsTrn.ValTwoTotal = row.find("TD").eq(9).html();
                lstValuationDetailsTrn.push(rowValuationDetailsTrn);
            });

            ValuatorTwoViewModel.ValuatorTwoDetailsList = lstValuatorTwoDetailsTrn;
            ValuatorTwoViewModel.ValuationDetailsList = lstValuationDetailsTrn;

            ValuatorTwoViewModel.ID = $('#ItemID').val();
            ValuatorTwoViewModel.TransactionId = $('#TransactionId').val();
            ValuatorTwoViewModel.CustomerId = $('#CustomerId').val();
            ValuatorTwoViewModel.ApplicationNo = $('#ApplicationNo').val();
            ValuatorTwoViewModel.Comments = $('#Comments').val();
            ValuatorTwoViewModel.KycId = $('#KycId').val();
            ValuatorTwoViewModel.ValuatorOneId = $("#ValuatorOneId").val();
            ValuatorTwoViewModel.EligibleLoanAmount = $("#EligibleLoanAmount").val();
            ValuatorTwoViewModel.LTVPerc = $('#LTVPerc').val();
            ValuatorTwoViewModel.SanctionLoanAmount = $('#SanctionLoanAmount').val();
            ValuatorTwoViewModel.Comments = $('#Comments').val();

            if (check == true) {
                $("#btn_save").prop("disabled", true);
                $.ajax({
                    type: "POST",
                    url: "/ValuatorTwo/Insert",
                    data: JSON.stringify(ValuatorTwoViewModel),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        debugger;
                        if (r == 1) {
                            $("#saveModal").modal('show');
                            $(document).click(function () {
                                window.location.href = urlRedirect;
                            });
                        }
                        else if (r == 2) {
                            $("#updateModal").modal('show');
                            $(document).click(function () {
                                window.location.href = urlRedirect;
                            });
                        }
                        else {
                            $("#CustomErr").text(r);
                            $("#btn_save").prop("disabled", false);
                            return false;
                        }
                    }
                });
            }
        }


        $("#divsanctionfilldata").on("click", "tr", function () {
            debugger;
            var tr = $(this).closest('tr');
            var Id = tr.find("td").eq(0).attr('id');
            var TransactionId = tr.find('td:eq(0)').html();
            var CustomerId = tr.find('td:eq(1)').html();
            var ApplicationNo = tr.find('td:eq(2)').html();

            $("#ItemID").val(Id);
            $("#TransactionId").val(TransactionId);
            $("#CustomerId").val(CustomerId);
            $("#ApplicationNo").val(ApplicationNo);
            $("#editSanctionModal").hide();
            GetValuatorTwoDetails(Id);
        })

        function GetValuatorTwoDetails(Id) {
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetValuatorTwoDetailsById", "ValuatorTwo")',
                data: "{Id: " + Id + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    $("#btnEdit").show();
                    $("#btnEvaluate").show();

                    $("#CustomErr").text("");

                    $("#tblValuationTwoDetails tbody tr").empty();
                    $("#divValuationTwoDetails").show();
                    $("#tblValuationDetails tbody tr").empty();
                    $("#divValuationDetails").show();

                    $.each(result, function (key, value) {
                        $("#" + key + "").val(value);
                    });

                    $("#ConsolidatedPhoto").empty();

                    if (result.ImageName != null) {
                        $("#ConsolidatedPhoto").append('<td><a href="/ValuatorTwo/Download/' + result.ID + '" target=_blank>' + result.ImageName + '</a></td>');
                    }
                    var coperation = $("#operation").val();
                    if (coperation == "Edit") {
                        $("#btnDelete").removeClass('disabled')
                    }
                    else {
                        $("#btnDelete").addClass('disabled')
                    }
                    if (result.RecordExist == false) {
                        $("#btn_edit").removeClass('disabled')
                        $("#btn_save").removeClass('disabled')
                    }
                    else {
                        $("#btn_edit").addClass('disabled')
                        $("#btn_save").addClass('disabled')
                    }
                    var TotalValuation = 0;
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetPurity","ProductRate")', // we are calling json method
                        dataType: 'json',
                        data: { id: $("#ProductId").val() },
                        // here we are get value of selected country and passing same value
                        //as inputto json method GetStates.
                        success: function (data) {
                            $.each(result.ValuatorTwoDetailsList, function (key, val) {
                                let select = `<select class='ValuatorTwoDetailsVM_PurityId'><option value="">--Select Purity--</option></select>`;
                                var rowCount = $('#tblValuationTwoDetails >tbody >tr').length + 1;
                                $('#tblValuationTwoDetails tbody').append('<tr id=' + val.ID + '>' +
                              '<td width="10%" id=' + val.ValOneDetailsId + '>' + rowCount + '</td>' +
                              '<td width="20%" id="' + val.OrnamentId + '">' + val.OrnamentName + '</td>' +
                              '<td width="10%"><a href="/ValuatorTwo/DownLoadValuationImage/' + val.ID + '" target=_blank>' + val.ImageName + '</a>' +
                              '<td width="8%">' + val.Qty + '</td>' +
                              '<td> ' + select + '</td>' +
                              '<td width="8%"><input type=text class=grossweight style=width:80px; value="' + val.GrossWeight + '"/></td>' +
                              '<td width="8%"><input type=text class=deductions style=width:80px; value="' + val.Deductions + '"/></td>' +
                              '<td width="8%" class=NetWeight>' + val.NetWeight + '</td>' +
                              '<td width="8%" class=Rate>' + val.Rate + '</td>' +
                              '<td width="8%" class=Val1Total>' + val.ValOneTotal.toFixed(2) + '</td>' +
                              '<td width="8%" class=Val2Total>' + val.ValTwoTotal.toFixed(2) + '</td>' +
                              '</tr>');
                            });

                            $.each(result.ValuationDetailsList, function (key, val) {
                                var rowCount = $('#tblValuationDetails >tbody >tr').length + 1;
                                $('#tblValuationDetails tbody').append('<tr id=' + val.ID + '>' +
                              '<td width="10%">' + rowCount + '</td>' +
                              '<td width="20%" id="' + val.OrnamentId + '">' + val.OrnamentName + '</td>' +
                              '<td width="10%"><a href="/ValuatorTwo/DownLoadValuationImage/' + val.ID + '" target=_blank>' + val.ImageName + '</a>' +
                              '<td width="8%">' + val.Qty + '</td>' +
                              '<td width="20%" id="' + val.PurityId + '">' + val.PurityName + '</td>' +
                              '<td width="8%">' + val.GrossWeight + '</td>' +
                              '<td width="8%">' + val.Deductions + '</td>' +
                              '<td width="8%">' + val.NetWeight + '</td>' +
                              '<td width="8%">' + val.Rate + '</td>' +
                              '<td width="8%">' + val.ValTwoTotal.toFixed(2) + '</td>' +
                              '</tr>');
                            });

                            $('#tblValuationTwoDetails tbody>tr').each(function (index) {
                                var row = $(this).closest("tr");
                                var selectClass = row.find('.ValuatorTwoDetailsVM_PurityId');
                                let ddValue = result.ValuatorTwoDetailsList[index]["PurityId"];
                                data.forEach((d) => {
                                    selectClass.append(`<option value="${d.Value}" ${ddValue == d.Value ? 'selected' : ''}>${d.Text}</option>`)
                                })
                            });
                            var totamt = 0;
                            $('#tblValuationDetails tbody>tr').each(function () {
                                var row = $(this).closest("tr");
                                totamt = totamt + parseFloat(row.find("TD").eq(9).html());
                            });
                            $("#headerTotalValuation").css('display', 'block');
                            $("#lblTotalValuation").text(parseFloat(totamt).toFixed(2));

                            var ltv = parseFloat($("#MaxLtv").val());
                            var eligibleamt = totamt * ltv / 100;
                            $("#EligibleLoanAmount").val(parseFloat(eligibleamt).toFixed(2));
                            //$("#SanctionLoanAmount").val(parseFloat(eligibleamt).toFixed(2));
                            $("#SanctionLoanAmount").val(0);
                            var ltvperc = eligibleamt / totamt * 100;
                            $("#LTVPerc").val(parseFloat(ltvperc).toFixed(2));
                        },
                        error: function (ex) {
                            alert('Failed to retrieve data .' + ex);
                        }
                    });
                }
            })
        }


        function ShowEditTableList() {
            $('#divviewfilldata').empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetValuatorOneDetails", "ValuatorTwo")',
                dataType: "html",
                data: { Operation: "Edit" },
                success: function (data) {
                    $('#divsanctionfilldata').empty();
                    $('#divsanctionfilldata').html(data);
                    $('#CustomerTable').dataTable();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        function ShowViewTableList() {
            $('#diveditfilldata').empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetValuatorOneDetails", "ValuatorTwo")',
                dataType: "html",
                data: { Operation: "View" },
                success: function (data) {
                    $('#divsanctionfilldata').empty();
                    $('#divsanctionfilldata').html(data);
                    $('#CustomerTable').dataTable();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        function ShowClientTableList() {
            $('#divviewfilldata').empty();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetValuatorOneList", "ValuatorTwo")',
                dataType: "html",
                success: function (data) {
                    $('#diveditfilldata').empty();
                    $('#diveditfilldata').html(data);
                    $('#CustomerTable').dataTable();
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }

        $("#diveditfilldata").on("click", "tr", function () {
            debugger;
            var tr = $(this).closest('tr');

            var ValuatorOneId = tr.find("td").eq(0).attr('id');
            var KycId = tr.find("td").eq(1).attr('id');
            var ProductId = tr.find("td").eq(2).attr('id');
            var CustomerId = tr.find('td:eq(0)').html();
            var ApplicationNo = tr.find('td:eq(1)').html();

            $("#ValuatorOneId").val(ValuatorOneId);
            $("#KycId").val(KycId);
            $("#ProductId").val(ProductId);

            $("#CustomerId").val(CustomerId);
            $("#ApplicationNo").val(ApplicationNo);
            $("#editModal").hide();

            GetValuatorOneDetails(ValuatorOneId);
        })

        function GetValuatorOneDetails(Id) {
            debugger;
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetValuatorOneDetailsById", "ValuatorTwo")',
                data: "{Id: " + Id + "}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {

                    $("#btnEdit").hide();
                    $("#btnEvaluate").show();

                    $("#divValuationTwoDetails").show();
                    debugger;
                    $("#CustomErr").text("");
                    $("#tblValuationTwoDetails tbody tr").empty();
                    $.each(result, function (key, value) {
                        $("#" + key + "").val(value);
                    });

                    if (result.ImageName != null) {
                        $("#ConsolidatedPhoto").append('<td><a href="/ValuatorTwo/Download/' + result.ID + '" target=_blank>' + result.ImageName + '</a></td>');
                    }
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetPurity","ProductRate")', // we are calling json method
                        dataType: 'json',
                        data: { id: $("#ProductId").val() },
                        // here we are get value of selected country and passing same value
                        //as inputto json method GetStates.
                        success: function (data) {

                            $.each(result.ValuatorTwoDetailsList, function (key, val) {
                                let select = `<select class='ValuatorTwoDetailsVM_PurityId'><option value="">--Select Purity--</option></select>`;
                                var rowCount = $('#tblValuationTwoDetails >tbody >tr').length + 1;
                                $('#tblValuationTwoDetails tbody').append('<tr id=' + val.ID + '>' +
                              '<td width="10%">' + rowCount + '</td>' +
                              '<td width="20%" id="' + val.OrnamentId + '">' + val.OrnamentName + '</td>' +
                              '<td width="10%"><a href="/ValuatorTwo/DownLoadValuationImage/' + val.ID + '" target=_blank>' + val.ImageName + '</a>' +
                              '<td width="8%">' + val.Qty + '</td>' +
                              '<td> ' + select + '</td>' +
                              '<td width="8%"><input type=text class=grossweight style=width:80px; value="' + val.GrossWeight + '"/></td>' +
                              '<td width="8%"><input type=text class=deductions style=width:80px; value="' + val.Deductions + '"/></td>' +
                              '<td width="8%" class=NetWeight>' + val.NetWeight + '</td>' +
                              '<td width="8%" class=Rate>' + val.Rate + '</td>' +
                              '<td width="8%" class=Val1Total>' + val.ValOneTotal.toFixed(2) + '</td>' +
                              '<td width="8%" class=Val2Total>' + val.ValOneTotal.toFixed(2) + '</td>' +
                              '</tr>');
                            });

                            $('#tblValuationTwoDetails tbody>tr').each(function (index) {
                                var row = $(this).closest("tr");
                                var selectClass = row.find('.ValuatorTwoDetailsVM_PurityId');
                                let ddValue = result.ValuatorTwoDetailsList[index]["PurityId"];
                                data.forEach((d) => {
                                    selectClass.append(`<option value="${d.Value}" ${ddValue == d.Value ? 'selected' : ''}>${d.Text}</option>`)
                                })
                            });

                        },
                        error: function (ex) {
                            alert('Failed to retrieve data .' + ex);
                        }
                    });
                }
            });
        }

        var urlRedirect = '@Html.Raw(@Url.Action("ValuatorTwo", "ValuatorTwo"))';

        $(function () {
            var url = '@Html.Raw(@Url.Action("Delete", "ValuatorTwo"))';
            $("#btnDelete").click(function () {
                $("#deleteModal").modal('show');
            });

            $("#btnDeleteConfirm").click(function () {
                $.ajax({
                    type: "POST",
                    url: url,
                    data: '{id: "' + $("#ItemID").val() + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data != "") {
                            alert(data);
                            return false;
                        }
                        else {
                            $("#CustomErr").empty();
                            $("#DeleteSuccessModal").modal('show');

                            $(document).click(function () {
                                window.location.href = urlRedirect;
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            });
        });

    </script>
}
